.tr-conteudo-evento
    .content
        ul
            margin:
                top: 15px
                bottom: 30px
            list-style-type: none
            padding: 0
            .title
                font:
                    family: $montserrat
                    size: calculateRem(18px)
                    weight: normal
                    style: normal
                    stretch: normal
                line-height: 1.83
                letter-spacing: normal
                margin-bottom: 5px
                // color: $title_3
            li
                font:
                    family: $montserrat
                    size: calculateRem(16px)
                    weight: 300
                    style: normal
                    stretch: normal
                line-height: 1.83
                letter-spacing: normal
                position: relative
                color: $title_3
                padding-left: 10px
                &:before
                    content: ""
                    display: block
                    position: absolute
                    left: 0px
                    top: 0
                    bottom: 0
                    margin:  auto 0
                    width: 4px
                    height: 4px
                    border-radius: 50%
                    background-color: $title_3
                &.before-none
                    padding-left: 0px
                    &:before
                        display: none
