.tr-nagivation-event
    .navigation
        width: 90%
        min-height: 200px
        background-color: $black
        border-radius: 5px
        .buttons
            .btn-group-vertical
                width: 100%
                padding:
                    top: 5px
                .tr-tercinary
                    background-color: transparent
                    color: $footer_gray
                    min-height: 50px
                    text-align: left
                    outline: none
                    box-shadow: none
                    border-bottom: 1px solid rgba($title_3, .1)
                    padding:
                        left: 20px
                    font:
                        family: $montserrat
                        size: calculateRem($seven)
                        weight: 500
                        style: normal
                        stretch: normal
                    line-height: normal
                    letter-spacing: normal
                    position: relative
                    overflow: hidden
                    &:before
                        content: ''
                        display: block
                        position: absolute
                        height: 20px
                        left: -3px
                        top: 0
                        bottom: 0
                        margin: auto 0
                        background-color: $light_purple
                        width: 0px
                        @include transition(all .2s ease-in-out)
                    &:hover,
                    &:active
                        color: $white
                        &:before
                            width: 7px
                    &.active
                        color: $white
                        &:before
                            content: ''
                            display: block
                            position: absolute
                            height: 20px
                            left: -3px
                            top: 0
                            bottom: 0
                            margin: auto 0
                            background-color: $light_purple
                            width: 7px
                            @include transition(all .2s ease-in-out)
                    &.counter
                        pointer-events: none
                        padding-left: 0px
                    .time-count-down
                        @include flexbox()
                        @include justify-content(space-between)
                        @include align-items(center)
                        ul
                            @include flexbox()
                            @include justify-content(space-between)
                            @include align-items(center)
                            margin: 0
                            padding: 15px
                            width: 100%
                            height: 100%
                            list-style-type: none
                            li
                                @include flexbox()
                                @include justify-content(center)
                                @include flex-direction(column)
                                @include align-items(center)
                                min-width: 35px
                                p
                                    margin: 0
                                    font:
                                        family: $montserrat
                                        size: calculateRem(10px)
                                        weight: 300
                                        style: normal
                                        stretch: normal
                                    line-height: normal
                                    letter-spacing: normal
                                    text-align: center
                                span
                                    margin: 0
                                    display: block
                                    font:
                                        family: $montserrat
                                        size: calculateRem(16px)
                                        weight: bold
                                        style: normal
                                        stretch: normal
                                    line-height: normal
                                    letter-spacing: normal
                                    text-align: center

        .information-course
            width: 100%
            min-height: 150px
            height: 100%
            .content
                padding: 25px
                small
                    font:
                        family: $montserrat
                        size: calculateRem($seven)
                        weight: 300
                        style: normal
                        stretch: normal
                    line-height: 1.25
                    letter-spacing: normal
                    color: $title_3
                .price
                    font:
                        family: $montserrat
                        size: calculateRem(28px)
                        weight: 500
                        style: normal
                        stretch: normal
                    line-height: 1
                    letter-spacing: normal
                    color: $white
                .button-buy
                    margin-top: 20px
                    .tr-secondary
                        width: 100%
                        min-height: 58px
                        font-size: calculateRem(14px)