.tr-sobreo-evento
    .sobre
        .content
            .title-1
                font-size: calculateRem(28px)
                font-weight: 600
            .card-information
                @include flexbox()
                @include justify-content(space-between)
                @include align-items(center)
                @include flex-basis(33%)
                @include flex-wrap(wrap)
                min-height: 150px
                margin: 
                    top: 20px
                    bottom: 30px
                // background: red
                border: 1px solid rgba(black,0.1)
                padding: 15px
                &.border-none
                    border: none!important
                .date
                    @include flex(1 1 20%)
                    @include flexbox()
                    @include align-items(center)
                    @include justify-content(center)
                    @include flex-direction(column)
                    @include flex-wrap(wrap)
                    width: 100%
                    height: 100%
                    .date-number
                        max-width: 100px
                        text-align: center
                        p
                            font:
                                family: $montserrat
                                size: calculateRem($one)
                                weight: 500
                                style: normal
                                stretch: normal
                            line-height: 0.58
                            letter-spacing: normal
                            color: $light_purple
                            margin: 0
                                bottom: 5px
                            padding: 0
                        b
                            font:
                                family: $montserrat
                                size: calculateRem($five)
                                weight: 600
                                style: normal
                                stretch: normal
                            line-height: 1.25
                            letter-spacing: normal
                            color: $black
                            text-transform: uppercase
                .information
                    @include flex(1 1 80%)
                    @include flexbox()
                    @include align-items(flex-start)
                    @include justify-content(flex-start)
                    @include flex-direction(column)
                    @include flex-wrap(wrap)
                    width: 100%
                    height: 100%
                    .content
                        @include flexbox()
                        @include align-items(flex-start)
                        @include flex-direction(column)
                        @include justify-content(flex-start)
                        @include flex-wrap(wrap)
                        .title-2
                            font:
                                size: calculateRem(22px)
                                weight: 400
                            text-decoration: none
                            @include transition(all .2s ease-in-out)
                            &:hover
                                color: black
                        .local
                            @include flexbox()
                            @include align-items(flex-start)
                            @include flex-direction(row)
                            @include flex-wrap(wrap)
                            padding: 
                                left: 20px
                            .hours
                                font: 
                                    family: $montserrat
                                    size: calculateRem(16px)
                                    weight: 300
                                margin-right: 40px
                                margin-top: 10px
                                position: relative
                                padding: 
                                    left: 5px
                                &:before
                                    content: ''
                                    display: block
                                    background:
                                        image: url('../images/icons/hours.png')
                                        position: center center
                                        size: contain
                                        repeat: no-repeat
                                    width: 18px
                                    height: 18px
                                    position: absolute
                                    top: 2px
                                    left: -18px
                            .type-event
                                font: 
                                    family: $montserrat
                                    size: calculateRem(16px)
                                    weight: 300
                                padding: 
                                    left: 5px
                                margin-top: 10px
                                &.local
                                    position: relative
                                    &:before
                                        content: ''
                                        display: block
                                        background:
                                            image: url('../images/icons/local.png')
                                            position: center center
                                            size: contain
                                            repeat: no-repeat
                                        width: 18px
                                        height: 18px
                                        position: absolute
                                        top: 2px
                                        left: -18px
                                &.online
                                    position: relative
                                    &:before
                                        content: ''
                                        display: block
                                        background:
                                            image: url('../images/icons/onlin.png')
                                            position: center center
                                            size: contain
                                            repeat: no-repeat
                                        width: 18px
                                        height: 18px
                                        position: absolute
                                        top: 2px
                                        left: -18px
                        .description
                            margin-top: 20px
                            max-width: 400px
                            height: 100%
                            .description-2
                                font:
                                    family: $montserrat
                                    size: calculateRem($seven)
                                    weight: 300
                                    style: normal
                                    stretch: normal
                                line-height: 1.56
                                letter-spacing: normal           
                .image-full
                    @include flex(1 1 30%)
                    @include flexbox()
                    @include align-items(center)
                    @include flex-direction(column)
                    @include flex-wrap(wrap)
                    width: 100%
                    height: 90%
                    border-radius: 5px
                    background-color: $title_3
                    overflow: hidden

        .video
            width: 100%
            max-height: 400px
            overflow: hidden
            border-radius: 10px
            margin-top: 10px
            .video
                height: 100%
                background-color:  transparent
                border-radius: 5px
                box-shadow: 0 20px 40px 0 rgba($black, 0.3);
                height: 100%
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                position: relative
                &.pause
                    cursor: pointer
                    &:before
                        cursor: pointer
                        content: ''
                        display: block
                        position: absolute
                        width: 200px
                        height: 100%
                        top: 10px
                        left: 0
                        right: -60px
                        margin: 0 auto
                        background: 
                            image: url(../images/icons/play.svg)
                            position: center
                            repeat: no-repeat
                            size: contain
                video
                    border-radius: 5px
                    width: 100%
                    height: 100%