.tr-filtered-course
    width: 100%
    height: 98px
    background-color: rgba($black,.04)
    .content
        @include flexbox()
        @include justify-content(space-between)
        @include align-items(center)
        @include flex-basis(20%)
        @include flex-wrap(wrap)
        width: 100%
        height: 100%
        .filter-1,
        .filter-3,
        .filter-4
            @include flex(1 1 20%)
            width: 100%
        .filter-2
            @include flex(1 1 40%)
            width: 100%
            form
                .form-row
                    max-width: 97%
                    position: relative
                    input
                        margin: 0
                            bottom: 0px!important
                        border: 1px solid rgba($title_5, .4)
                        box-shadow: 0 2px 0 0 rgba($black,0.02)
                        @include transition(all .3s ease-in-out)
                        min-height: 40px
                        font:
                            family: $montserrat
                            weight: 400
                            size: calculateRem(12px)
                        color: $title_4
                        letter-spacing: 0
                        &:active,
                        &:focus
                            border: 1px solid $light_purple
                    button
                        background-color: transparent
                        outline: none
                        box-shadow: none
                        border: none
                        position: absolute
                        transform: rotateY(180deg)
                        top: 8px
                        right: 10px
                        i
                            @include transition(all .2s ease-in-out)
                        &:hover,
                        &:focus,
                        &:active
                            background-color: transparent
                            outline: none
                            box-shadow: none
                            border: none
                        &:hover
                            i
                                color: darken($title_5, 60%)
                        i
                            color: darken($title_5, 40%)