.tr-filtered-course-selected
    width: 100%
    height: 60px
    background-color: rgba($menu, .3)
    .selected
        @include flexbox()
        @include justify-content(flex-start)
        @include align-items(center)
        @include flex-wrap(wrap)
        height: 100%
        width: 100%
        .item-selected
            height: 35px
            min-width: 100px
            @include flexbox()
            @include justify-content(flex-start)
            @include align-items(center)
            border-radius: 3px
            box-shadow: 0 2px 0 0 rgba($black, 0.02)
            background-color: $white
            position: relative
            margin-right: 35px
            padding: 
                left: 10px
                right: 30px
            .content
                .description-2
                    font:
                        family: $montserrat
                        size: calculateRem($eight)
                        weight: bold
                        style: normal
                        stretch: normal
                    line-height: normal
                    letter-spacing: normal
                    color: $title_4
                    .count
                        font-weight: normal
                        position: relative
                        margin-left: 5px
                        &:before
                            content: '('
                            display: block
                            position: absolute
                            top: 0
                            left: -5px
                        &:after
                            content: ')'
                            display: block
                            position: absolute
                            top: 0
                            right: -5px

                .exit
                    position: absolute
                    right: 9px
                    top: 9px
                    font-size: calculateRem(13px)
                    color: $light_purple
                    @include transition(all .2s ease-in-out)
                    &:hover,
                    &:focus,
                    &:active
                        color: darken($light_purple, 50%)
