.tr-header-course-open
    width: 100%
    height: 250px
    background-color: $black
    position: relative
    // &:before
    //     position: absolute
    //     content: ''
    //     bottom: -8px
    //     left: 0
    //     display: block
    //     width: 100%
    //     height: 8px
    //     background-color: rgba($black, 0.1)
    .content
        width: 100%
        height: 100%
        .row
            width: 100%
            height: 100%
            .tr-flex-center
                @include flexbox()
                @include justify-content(flex-start)
                @include align-items(center)
                .title-3
                .information-course
                    .title-1
                        font:
                            size: calculateRem(27px)
                            weight: bold
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                    .information-description
                        margin-bottom: 10px
                        width: 100%
                        @include flexbox()
                        @include justify-content(space-between)
                        .description-3
                            font:
                                weight: regular
                            color: $white
                            padding-left: 10px
                            &:first-child
                                padding-left: 0px
                            .MuiSvgIcon-root
                                margin-right: 5px
                        .badge
                            position: relative
                            margin: 0 
                            bottom: 0px
                            left: 0px
                            margin-top: -3px
                            color: #fff
                            font-weight: bold
                        .hours
                            position: relative
                            &:before
                                content: ''
                                display: block
                                background:
                                    image: url('../images/icons/hours_white.png')
                                    position: center center
                                    size: contain
                                    repeat: no-repeat
                                width: 15px
                                height: 15px
                                position: absolute
                                top: 1px
                                left: -18px
                        .modules
                            position: relative
                            &:before
                                content: ''
                                display: block
                                background:
                                    image: url('../images/icons/modules_white.png')
                                    position: center center
                                    size: contain
                                    repeat: no-repeat
                                width: 15px
                                height: 15px
                                position: absolute
                                top: 1px
                                left: -18px
                        .difficulty
                            position: relative
                            &:before
                                content: ''
                                display: block
                                background:
                                    image: url('../images/icons/difficulty_white.png')
                                    position: center center
                                    size: contain
                                    repeat: no-repeat
                                width: 15px
                                height: 15px
                                position: absolute
                                top: 1px
                                left: -18px
                .time-count-down
                    width: 100%
                    height: 80px
                    border-radius: 5px
                    border: 2px solid rgba($title_3,.3)
                    padding: 10px
                    position: relative
                    ul
                        @include flexbox()
                        @include justify-content(space-around)
                        @include align-items(center)
                        margin: 0
                        padding: 0
                        width: 100%
                        height: 100%
                        list-style-type: none
                        li
                            margin-top: -5px
                            min-width: 40px
                            &.separator
                                font:
                                    family: $montserrat
                                    size: calculateRem(30px)
                                    weight: 500
                                    style: normal
                                    stretch: normal
                                line-height: 1.54
                                letter-spacing: normal
                                text-align: center
                                color: $white
                                min-width: 10px
                                margin-top: 15px
                            p
                                font:
                                    family: $montserrat
                                    size: calculateRem(11px)
                                    weight: 500
                                    style: normal
                                    stretch: normal
                                line-height: 1.54
                                margin-bottom: 10px!important
                                letter-spacing: normal
                                text-align: center
                                color: $title_3
                            span
                                display: block
                                color: $white
                                text-align: center
                                font:
                                    family: $montserrat
                                    size: calculateRem(30px)
                                    weight: 100
                                    style: normal
                                    stretch: normal
                                line-height: 0.73
                                letter-spacing: normal
                    .count-description
                        position: absolute
                        bottom: -30px
                        left: 0
                        right: 0
                        margin: 0 auto
                        text-align: center
                        font:
                            family: $montserrat
                            size: calculateRem(12px)
                            weight: normal
                            style: normal
                            stretch: normal
                        line-height: 2.33
                        letter-spacing: calculateRem(0.9px)
                        text-align: center
                        color: rgba($title_4,.7)
                .button-buy
                    width: 100%
                    max-width: 206px
                    @media(min-width: 1600px)
                        max-width: 220px
                    .tr-secondary
                        width: 100%!important
                        height: 60px
                        max-width: 200px
                        margin: 0
                        padding: 0
                        margin-top: -5px
                        font-size: calculateRem(14px)
                    .tr-course-close
                        @extend .tr-secondary
                        width: 100%
                        min-height: 60px
                        background-color: $light_red
.tr-header-course-open.down
    box-shadow: 0 10px 0 0 rgba(0,0,0,0.06)