.tr-header-course
    width: 100%
    height: 200px
    .header-course
        width: 100%
        height: 100%
        background:
            color: $title_3
            size: cover
            repeat: no-repeat
            position: center center
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include flex-basis(50%)
        @include flex-wrap(wrap)
        position: relative
        margin-bottom: 5px
        &:before
            position: absolute
            content: ''
            bottom: -8px
            left: 0
            display: block
            width: 100%
            height: 8px
            background-color: rgba($black,.1)

.alert-vagas-encerradas
    padding: 15px
    border-radius: 5px
    @include box-shadow(0px 0px 0px 1px #979797)