.tr-instrutor-curso
    .content
        .title-1
            font-size: calculateRem(28px)
            font-weight: 600
        .card-instructor
            width: 100%
            min-height: 180px
            border-radius: 5px
            background-color: #aaa
            border: 1px solid #E3EDEF
            .content
                width: 100%
                height: 100%
                padding: 40px
                .author
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                    @include flex-wrap(wrap)
                    .avatar
                        width: 50px
                        height: 50px
                        border-radius: 100px
                        background-color: $title_4
                        margin-bottom: 10px
                        overflow: hidden
                        img
                            width: 100%
                            height: 150%
                    .name
                        @include flex(1 1 70%)
                        margin-left: 15px
                        font:
                            family: $montserrat
                            size: calculateRem($seven)
                            weight: 500
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                        color: $black
                    .city
                        font:
                            family: $montserrat
                            size: calculateRem($eight)
                            weight: 300
                            style: normal
                            stretch: normal
                        line-height: 1.5
                        letter-spacing: normal
                        text-align: left
                        color: $title_3
                .socials
                        margin: 0 auto
                        @include flexbox()
                        @include justify-content(space-between)
                        @include align-items(center)
                        @include flex-wrap(wrap)
                        width: 40%
                        a
                            color: $light_purple
                            font:
                                size: calculateRem(18px)
                            @include transition(all .2s ease-in-out)
                            &:hover
                                color: rgba($light_purple,.5)