.tr-list-course
    margin-top: 50px
    .content
        margin-top: 20px
        @include flexbox()
        @include justify-content(space-between)
        @include align-items(flex-start)
        @include flex-basis(33%)
        @include flex-wrap(wrap)
        .tr-card
            margin-bottom: 60px