.modal-content
    display: flex
    justify-content: center
    align-items: center
    background-color: transparent
    padding: 30px
    border: none
    .tr-card-sucess
        position:  absolute
        max-width: 400px!important
        opacity: 0
        @include transform(translateY(-200px))
        @include transition(transform .5s ease-in-out)
        pointer-events: none
        min:
            width: 380px
            height: 450px
        &.show
            position: relative
            @include transform(translateY(0))
            opacity: 1
            pointer-events: all
        .image-sucess
            .title-1
                font-size: calculateRem(24px)
        .wait-list
            .description-2
                font-size: calculateRem(16px)
                font-weight: 400
    .tr-card-wait-list
        min:
            width: 380px
            height: 450px
        max-width: 400px!important
        .form-wait
            .tr-primary
                height: 60px
                font-size: calculateRem(16px)
