.tr-modulos-curso
    .content 
        .title-1
            font-size: calculateRem(28px)
            font-weight: 600
            
.modules-dropdown
    ul.list-modules
        padding: 0
        margin: 0
        > li
            display: block
            list-style-type: none
            position: relative
            &.active
                .title
                    background-color: $black
                    &:before
                        transform: rotate(-135deg)
                        border-color: $white 
                    span,
                    strong
                        color: $white
                .module-lessons
                    height: auto
                    opacity: 1
                    visibility: visible
                    pointer-events: auto
                    
            .title
                display: flex
                padding: 15px 10px
                // background-image: url('.../images/down-green.svg')
                background-repeat: no-repeat
                background-position: calc(100% - 10px) center
                background-size: 10px
                border-radius: 10px 10px 0px 0px
                flex-direction: column
                align-items: flex-start
                @include box-shadow(0px 1px 0px 0px #E3EDEF)
                @include transition(all .3s ease-in-out)
                @media(min-width: 576px)
                    flex-direction: row
                    align-items: center
                &.open
                    &:before
                        transform: rotate(-135deg)
                &:before
                    content: ''
                    cursor: pointer
                    position: absolute
                    top: 25px
                    right: 20px
                    border: solid $light_purple
                    border-width: 0 3px 3px 0
                    display: inline-block
                    padding: 3px
                    background-color: transparent
                    width: 10px
                    height: 10px
                    transform: rotate(45deg)
                    @include transition(all .2s ease-in-out)
                &:hover
                cursor: pointer
            .badge
                position: relative
                margin: 0 
                bottom: 0px
                left: 0px
                margin-top: -3px
                font-size: calculateRem($eight)
            span,
            strong
                font-weight: 700
                font-size: calculateRem(16px)
                color: $black
                margin-right: 15px
                margin-bottom: 10px
                @include transition(all .3s linear)
                @media(min-width: 576px)
                    margin-bottom: 0
        .module-lessons
            padding: 0
            // height: 0
            overflow: hidden
            // opacity: 0
            // visibility: hidden
            pointer-events: none
            // background-color: white
            border-radius: 0px 0px 10px 10px
            // @include box-shadow(0px 0px 0px 1px rgba($title_3,.2))
            @include transition(all .3s linear)
            p,
            li
                display: block
                list-style-type: none
                padding: 15px 35px
                pointer-events: none
                font-weight: 300
                font-size: calculateRem(16px)
                color: #6c6c6c
                background-color: transparent
                border: 0
                @include transition(all .3s linear)
                &:hover
                    text-decoration: none
                    color: $light_purple

.tr-modulos-cursando
    margin-top: 20px
    .content 
        .title-1
            font-size: calculateRem(28px)
            font-weight: 600
            
    .modules-dropdown
        ul.list-modules
            padding: 0
            margin: 0
            > li
                display: block
                list-style-type: none
                position: relative
                &.active
                    .title
                        background-color: $black
                        &:before
                            transform: rotate(-135deg)
                            border-color: $white 
                        span,
                        strong
                            color: $white
                    .module-lessons
                        height: auto
                        opacity: 1
                        visibility: visible
                        pointer-events: auto
                        
                .title
                    display: flex
                    padding: 15px 10px
                    // background-image: url('.../images/down-green.svg')
                    background-repeat: no-repeat
                    background-position: calc(100% - 10px) center
                    background-size: 10px
                    background-color: black
                    border-radius: 5px
                    flex-direction: column
                    align-items: flex-start
                    @include box-shadow(0px 1px 0px 0px #E3EDEF)
                    @include transition(all .3s ease-in-out)
                    @media(min-width: 576px)
                        flex-direction: row
                        align-items: center
                    &.open
                        &:before
                            transform: rotate(-135deg)
                    &:before
                        content: ''
                        cursor: pointer
                        position: absolute
                        top: 20px
                        right: 20px
                        border: solid #fff
                        border-width: 0 3px 3px 0
                        display: inline-block
                        padding: 3px
                        background-color: transparent
                        width: 10px
                        height: 10px
                        transform: rotate(45deg)
                        @include transition(all .2s ease-in-out)
                    &:hover
                    cursor: pointer
                .badge
                    position: relative
                    margin: 0 
                    bottom: 0px
                    left: 0px
                    margin-top: -3px
                    font-size: calculateRem($eight)
                span,
                strong
                    font-weight: 700
                    font-size: calculateRem(16px)
                    color: white
                    margin-right: 15px
                    margin-bottom: 10px
                    @include transition(all .3s linear)
                    @media(min-width: 576px)
                        margin-bottom: 0
                    .name-module
                        color: #afafaf
                        font-size: 16px
                        font-weight: 300
                .total-lessons
                    width: 60%
                    text-align: right
                    color: #afafaf
                    font-size: 16px
                    font-weight: 300
            .module-lessons
                padding: 0
                // height: 0
                overflow: hidden
                // opacity: 0
                // visibility: hidden
                pointer-events: none
                // background-color: white
                border-radius: 0px 0px 10px 10px
                // @include box-shadow(0px 0px 0px 1px rgba($title_3,.2))
                @include transition(all .3s linear)
                p,
                li
                    display: block
                    list-style-type: none
                    padding: 15px 0 15px 30px
                    pointer-events: none
                    // font-weight: 300
                    // font-size: calculateRem(16px)
                    color: rgba(0, 0, 0, 0.678)
                    background-color: #FFFFFF
                    border: 1px solid #ECECEC
                    border-top: 0
                    font:
                        size: calculateRem($seven)
                        weight: 300
                        style: normal
                        stretch: normal
                        line-height: 1.56
                    @include transition(all .3s linear)
                    &:hover
                        text-decoration: none
                        color: $light_purple
                .lesson-watched
                    text-align: end
                    border: 1px solid #ECECEC
                    border-radius: 5px
                    padding: 5px
                    font-size: 12px
                    color: #1f1f1f