.tr-nagivation-course-close
    .navigation
        width: 90%
        min-height: 200px
        background-color: $black
        border-radius: 5px
        .buttons
            .btn-group-vertical
                width: 100%
                padding:
                    top: 5px
                .tr-tercinary
                    background-color: transparent
                    color: $footer_gray
                    min-height: 50px
                    text-align: left
                    outline: none
                    box-shadow: none
                    border-bottom: 1px solid rgba($footer_gray,.1)
                    padding:
                        left: 20px
                    font:
                        family: $montserrat
                        size: calculateRem($seven)
                        weight: 500
                        style: normal
                        stretch: normal
                    line-height: normal
                    letter-spacing: normal
                    position: relative
                    overflow: hidden
                    &:before
                        content: ''
                        display: block
                        position: absolute
                        height: 20px
                        left: -3px
                        top: 0
                        bottom: 0
                        margin: auto 0
                        background-color: $light_purple
                        width: 0px
                        @include transition(all .2s ease-in-out)
                    &:hover,
                    &:active
                        color: $white
                        &:before
                            width: 7px
                    &.active
                        color: $white
                        &:before
                            content: ''
                            display: block
                            position: absolute
                            height: 20px
                            left: -3px
                            top: 0
                            bottom: 0
                            margin: auto 0
                            background-color: $light_purple
                            width: 7px
                            @include transition(all .2s ease-in-out)
        .information-course
            width: 100%
            min-height: 150px
            height: 100%
            .alert-vagas-encerradas
                max-width: 160px
                margin: 0 auto
                width: 100%
                padding: 5px 15px
            .content
                padding: 25px
                @include flexbox()
                @include justify-content(center)
                @include flex-basis(center)
                @include flex-direction(column)
                text-align: center
                small
                    font:
                        family: $montserrat
                        size: calculateRem($seven)
                        weight: 300
                        style: normal
                        stretch: normal
                    line-height: 1.25
                    letter-spacing: normal
                    color: $title_3
                .title-1
                    font:
                        weight: 400
                        family: $montserrat
                    color: $light_red
                .button-buy
                    margin: 0 auto
                    margin-top: 20px
                    .tr-course-close
                        @extend .tr-secondary
                        width: 100%
                        min-height: 58px
                        background-color: $light_red