.tr-perguntas-frequentes-curso
    .content 
        .title-1
            font-size: calculateRem(28px)
            font-weight: 600
    .modules-dropdown
        ul.list-modules
            padding: 0
            margin: 0
            > li
                display: block
                list-style-type: none
                position: relative
                &.active
                    .title
                        background-color: $black
                        &:before
                            transform: rotate(-135deg)
                            border-color: $white 
                        span,
                        strong
                            color: $white
                    .module-lessons
                        height: auto
                        opacity: 1
                        visibility: visible
                        pointer-events: auto
                .title
                    display: flex
                    padding: 15px 10px
                    // background-image: url('.../images/down-green.svg')
                    background-repeat: no-repeat
                    background-position: calc(100% - 10px) center
                    background-size: 10px
                    border-radius: 10px 10px 0px 0px
                    flex-direction: column
                    align-items: flex-start
                    @include box-shadow(0px 1px 0px 0px #E3EDEF)
                    @include transition(all .3s ease-in-out)
                    @media(min-width: 576px)
                        flex-direction: row
                        align-items: center
                    &:before
                        content: ''
                        cursor: pointer
                        position: absolute
                        top: 25px
                        right: 20px
                        border: solid $light_purple
                        border-width: 0 3px 3px 0
                        display: inline-block
                        padding: 3px
                        background-color: transparent
                        width: 10px
                        height: 10px
                        transform: rotate(45deg)
                        @include transition(all .2s ease-in-out)
                    &:hover
                    cursor: pointer
                .badge
                    position: relative
                    margin: 0 
                    bottom: 0px
                    left: 0px
                    margin-top: -3px
                    font-size: calculateRem($eight)
                span,
                strong
                    font-weight: 700
                    font-size: calculateRem(16px)
                    color: $black
                    margin-right: 15px
                    margin-bottom: 10px
                    @include transition(all .3s linear)
                    @media(min-width: 576px)
                        margin-bottom: 0
            .module-lessons
                padding: 0
                height: 0
                overflow: hidden
                opacity: 0
                visibility: hidden
                pointer-events: none
                background-color: white
                border-radius: 0px 0px 10px 10px
                @include box-shadow(0px 0px 0px 1px rgba($title_3,.2))
                @include transition(all .3s ease-in-out)
                p,
                li
                    display: block
                    list-style-type: none
                    padding: 15px 35px
                    pointer-events: none
                    font-weight: 600
                    font-size: calculateRem(14px)
                    color: $black
                    background-color: transparent
                    border: 0
                    @include transition(all .3s linear)
                    &:hover
                        text-decoration: none
                        color: $light_purple