.carousel-produtos
	padding: 50px 0
	.owl-carousel
		.owl-stage-outer
			padding: 30px 0
			.owl-stage
				.owl-item
					.item
						.tr-card
							min-width: 0
							margin: 0 auto
							width: calc(100% - 30px)
		.owl-nav
			.owl-prev,
			.owl-next
				position: absolute
				top: calc(50% - 25px)
				left: -50px
				width: 50px
				height: 50px
				color: transparent
				background-image: url('../images/icons/left-gray.svg')
				background-repeat: no-repeat
				background-position: center
			.owl-next
				background-image: url('../images/icons/right-gray.svg')
				left: auto
				right: -50px

.call-categoria
	background: $light_purple
	border-radius: 5px
	.categoria-nome
		display: flex
		align-items: center
		justify-content: center
		img
			margin-top: -15px
		h3
			font-size: calculateRem(20px)
			margin-left: 30px
			margin-top: 30px
	.see-categoria
		font-weight: 800
		font-size: calculateRem(12px)
		color: white
		text-transform: uppercase
		margin-right: 30px

.categoria-interna
	.categoria-title
		margin-bottom: 30px
		h1
			font-size: calculateRem(20px)
			span
				font-weight: 400
	.tr-card-product
		margin-bottom: 30px

.awesome-breadcrumb
	ul
		margin: 0
		padding: 15px 0
		li
			list-style-type: none
			display: inline-block
			&:after
				content: '>'
				@extend .description-1
				margin: 0 5px
				font-size: calculateRem(12px)
				font-weight: 600
			&:last-child
				&:after
					display: none
			a
				font-weight: 700
				font-size: calculateRem(12px)
				color: $light_purple
			span
				font-size: calculateRem(12px)
				font-weight: 600

.product-details
	background-color: white
	border-radius: 5px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	.product-carousel-interna
		position: relative
		height: 100%
		@include box-shadow(1px 0px 0px 0px #ECECEC)
		.like-product
			position: absolute
			top: 20px
			left: 30px
			color: $title_4
			z-index: 50
			@include transition(all .3s linear)
			&:hover
				cursor: pointer
			&.active
				color: $light_red
		#custom-dots
			display: flex
			align-items: center
			justify-content: center
			position: absolute
			width: 100%
			bottom: 30px
			z-index: 100
			.dot
				width: 50px
				height: 50px
				background-color: #FBFBFB
				border-radius: 5px
				margin-right: 15px
				color: transparent
				background-repeat: no-repeat
				background-position: center
				background-size: 50%
				@include box-shadow(0px 0px 0px 2px #F1F1F1)
				&:hover
					cursor: pointer
				&:last-child
					margin-right: 
				&.active
					@include box-shadow(0px 0px 0px 2px $light_purple)
		.owl-carousel
			min-height: 500px
			height: 100%
			.owl-stage-outer
				height: 100%
				.owl-stage
					height: 100%
					.owl-item
						height: 100%
						.item
							height: 100%
							display: flex
							align-items: center
							justify-content: center
							img
								margin: 0 auto
								max-width: 90%
								width: auto
								height: auto
	.product-content-interna
		display: flex
		flex-direction: column
		height: 100%
		justify-content: center
		padding: 30px
		padding-left: 15px
		padding-right: 45px
		.title
			margin-bottom: 30px
			h1
				font-weight: 600
				font-size: calculateRem(20px)
		.price
			background-color: white
			border-radius: 5px
			margin-bottom: 40px
			@include box-shadow(0px 0px 0px 1px #ECECEC)
			.top
				display: flex
				align-items: center
				justify-content: flex-start
				padding: 20px
				@include box-shadow(0px 1px 0px 0px #ECECEC)
				p
					margin: 0
					@extend .description-1
					&.de
						del
							font-weight: 400
							font-size: calculateRem(18px)
							color: $light_red
							margin-right: 30px
					&.por
						span
							font-weight: 800
							font-size: calculateRem(25px)
							color: $light_purple
			.bottom
				padding: 15px 20px
				p
					margin: 0
					@extend .description-1
					strong
						font-weight: 700
						color: $black
		.shipping-preview
			display: flex
			align-items: center
			justify-content: flex-start
			img
				margin-right: 15px
			strong
				white-space: nowrap
				margin-right: 15px
			input
				padding-top: 15px
				width: 100%
				border: 0
				@include box-shadow(0px 0px 0px 1px #F1F1F1 !important)
				@include transition(all .3s linear)
				&:focus,
				&:active
					outline: none
					@include box-shadow(0px 0px 0px 2px $light_purple !important)
			button
				width: 35px
				height: 35px
				background: #F6F6F6
				border-radius: 50%
				font-weight: 700
				font-size: calculateRem(12px)
				color: $light_purple
				margin-left: 15px
				@include box-shadow(0 2px 5px 0 rgba(0,0,0,0.20), inset 0 -4px 0 0 rgba(0,0,0,0.04))
		.product-buyer
			display: flex
			align-items: flex-start
			justify-content: space-between
			flex-direction: row
			padding: 30px
			background: #FBFBFB
			margin-top: 30px
			border-radius: 5px
			@include box-shadow(0px 0px 0px 1px #F1F1F1)
			.quantity
				width: 40%
				max-width: 110px
			.go-buy
				width: 60%
				display: flex
				align-items: center
				justify-content: center
				flex-direction: column
				a
					width: 100%
					max-width: 100%
					font-weight: 800
					height: 55px
					text-transform: uppercase
					font-size: calculateRem(16px)
					i
						color: rgba(0,0,0,.6)
						margin-right: 15px
						font-size: calculateRem(20px)

.product-info
	margin-top: 30px
	.top
		ul
			display: flex
			align-items: center
			margin: 0
			padding: 0
			li
				list-style-type: none
				font-weight: 700
				font-size: calculateRem(14px)
				color: $light_purple
				background: white
				padding: 15px 30px
				@include box-shadow(0 2px 4px 0 rgba(0,0,0,0.10), inset 0 -3px 0 0 rgba(0,0,0,0.03))
	.bottom
		position: relative
		z-index: 100
		top: -3px
		background: white
		padding: 50px
		margin-bottom: 80px
		@include box-shadow(0 2px 4px 0 rgba(0,0,0,0.10), inset 0 -3px 0 0 rgba(0,0,0,0.03))
		ul
			margin: 0
			padding: 0
			li
				display: flex
				list-style-type: none
				align-items: center
				padding: 10px 15px
				&:nth-child(odd)
					background-color: #FBFBFB
				span
					font-size: calculateRem(14px)
					color: $product
				strong
					@extend .title-1
					margin-left: 30px
					color: $black
					font-size: calculateRem(14px)

.quantity
	width: 100%
	.input-area
		position: relative
		.plus,
		.minus
			position: absolute
			color: $light_purple
			font-weight: 700
			font-size: calculateRem(20px)
			text-align: center
			height: 90%
			background-color: white
			width: 30px
			top: 5%
			left: 0
			&:hover
				cursor: pointer
		.plus
			left: auto
			right: 0
		input
			width: 100%
			background: white
			border: 0
			border-radius: 5px
			height: 40px
			text-align: center
			font-weight: 700
			font-size: calculateRem(14px)
			color: $black
			padding: 0 30px
			@include box-shadow(0px 0px 0px 1px #F1F1F1)
			@include transition(all .3s linear)
			&:focus,
			&:active
				outline: none
				@include box-shadow(0px 0px 0px 2px $light_purple)