.tr-sobreo-curso
    .sobre
        .content
            .title-1
                font-size: calculateRem(28px)
                font-weight: 600
        .video
            width: 100%
            max-height: 400px
            overflow: hidden
            border-radius: 10px
            margin-top: 10px
            .video
                height: 100%
                background-color:  transparent
                border-radius: 5px
                box-shadow: 0 20px 40px 0 rgba($black, 0.3);
                height: 100%
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                position: relative
                &.pause
                    cursor: pointer
                    &:before
                        cursor: pointer
                        content: ''
                        display: block
                        position: absolute
                        width: 200px
                        height: 100%
                        top: 10px
                        left: 0
                        right: -60px
                        margin: 0 auto
                        background: 
                            image: url(../images/icons/play.svg)
                            position: center
                            repeat: no-repeat
                            size: contain
                video
                    border-radius: 5px
                    width: 100%
                    height: 100%