.tr-vantagens-curso
    .vantagens
        .content
            .title-1
                font-size: calculateRem(28px)
                font-weight: 600
            .itens
                @include flexbox()
                @include justify-content(space-between)
                @include align-items(flex-start)
                @include flex-basis(100%)
                @include flex-direction(column)
                min-height: 150px
                margin-bottom: 50px
                .icon
                    max-width: 50px
                    min-width: 40px
                    max-height: 55px
                    min-height: 45px
                    img
                        height: 100%
                        width: auto
                .content
                    text-align: left
                    padding: 
                        top: 30px
                    .title-1
                        margin-bottom: 10px
                        font:
                            size: calculateRem(16px)
                            weight: bold
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                    .description-2
                        font-size: calculateRem(13px)