.tr-curso-andamento
    overflow: hidden
    &.card
        border-radius: 7px
    .sobre
        width: 100%
        margin: 0
        padding: 0
        .content
            .title-1
                font-size: calculateRem(28px)
                font-weight: 600
        .video
            width: 100%
            max-height: 400px
            overflow: hidden
            border-radius: 7px
            margin-top: -2px
            border-bottom-left-radius: 0px
            border-bottom-right-radius: 0px
            .video
                height: 100%
                background-color:  transparent
                border-radius: 5px
                box-shadow: 0 20px 40px 0 rgba($black, 0.3)
                border-bottom-left-radius: 0px
                border-bottom-right-radius: 0px
                height: 100%
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                position: relative
                &.pause
                    cursor: pointer
                    &:before
                        cursor: pointer
                        content: ''
                        display: block
                        position: absolute
                        width: 200px
                        height: 100%
                        top: 10px
                        left: 0
                        right: -60px
                        margin: 0 auto
                        background: 
                            image: url(../images/icons/play.svg)
                            position: center
                            repeat: no-repeat
                            size: contain
                video
                    border-radius: 5px
                    width: 100%
                    height: 100%
    .content-card-aula
        margin-top: 50px
        .title-1
            font:
                family: $montserrat
                size: calculateRem(20px)
                font-weight: bold
                style: normal
                stretch: normal
            line-height: 1.25
            letter-spacing: normal
            color: $black
        .description-2
            font:
                family: $montserrat
                size: calculateRem(14px)
                weight: 300
                style: normal
                stretch: normal
            line-height: 1.64
            letter-spacing: normal
        .attachment
            background-color: rgba($black, .1)
            width: 100%
            height: 100%
            min-height: 90px
            @include flexbox()
            @include justify-content(center)
            @include align-items(flex-start)
            @include flex-wrap(wrap)
            @include flex-direction(column)
            padding-left: 20px
            a
                padding: 5px
                font:
                    family: $montserrat
                    size: 12px
                    weight: bold
                    style: normal
                    stretch: normal
                line-height: 1.92
                letter-spacing: normal
                color: $light_purple
                text-decoration: underline
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                span
                    display: inline-block
                    background: 
                        image: url('../images/icons/download.svg')
                        position: center center
                        repeat: no-repeat
                        size: contain
                    width: 20px
                    height: 20px
                    margin-right: 5px