.avaliacao-modulo
    min-height: 150px
    border-radius: 10px
    background-color: $white
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    form,
    .content
        margin: 0
        padding: 0
        width: 100%
        height: 100%
        .multiplaescolha
            list-style-type: none
            background: white
            padding: 50px 60px
            margin-bottom: 20px
            border-radius: 10px
            @include box-shadow($boxcard)
            &.submit
                padding: 20px 40px
                @include flexbox()
                @include justify-content(flex-end)
                @include align-items(center)
            &.resultado
                li
                    pointer-events: none
                    label
                        pointer-events: none!important
            &.information-sucess
                background: $light_green!important
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                @include flex-direction(column)
                padding: 30px 60px
                .description-1
                    color: $white
            .question-title
                font:
                    family: $montserrat
                    size: calculateRem(16px)
                    weight: bold
                    style: normal
                    stretch: normal
                line-height: 1.39
                letter-spacing: normal
                color: $black
            .question-submit
                font:
                    family: $montserrat
                    size: calculateRem(12px)
                    weight: normal
                    style: normal
                    stretch: normal
                line-height: normal
                letter-spacing: normal
                color: $title_4
                margin-right: 20px
            .answers
                margin: 
                    top: 20px
                list-style-type: none
                font:
                    family: Montserrat
                    size: 16px
                    weight: normal
                    style: normal
                    stretch: normal
                line-height: normal
                letter-spacing: normal
                color: $title_4
                li
                    display: flex
                    padding: 7px 0px
                    input[type="radio"]
                        &:checked + label
                            font-weight: bold
                            pointer-events: none
                            &:after
                                opacity: 1
                                max-width: 9px
                    label
                        &:before
                            left: -27px
                        &:after
                            content: ''
                            width: 5px
                            height: 5px
                            left: -20px
                            opacity: 0
                            top: 0px
                            border-radius: 50%
                            background-color: transparent
                            @include box-shadow(0px 0px 0px 7px $light_green )
                            @include transition(all .03s ease-in-out)
                b
                    font-weight: bold
                label
                    padding-left: 10px
                    pointer-events: all!important
