.tr-nagivation-course-andamento
    .navigation
        width: 100%
        min-height: 100px
        background-color: $white
        border-radius: 7px
        // border: 1px solid rgba($black,.2)
        @include box-shadow($boxcard)
        overflow: hidden
        &.bonus
            min-height: 50px
            .tr-tercinary
                &:before
                    content: ''
                    border-color: $light_red!important
        .buttons
            .btn-group-vertical
                width: 100%
                .collapse
                    position: relative
                    width: 100%!important
                    @include  transition(all .2s ease)
                .module-lessons
                    width: 100%
                    height: 100%
                    padding: 0
                        left: 8px
                    background-color: white
                    margin: 0
                    p,
                    li
                        display: block
                        padding: 6px
                        font-weight: 400
                        width: 100%
                        font-size: calculateRem(13px)
                        color: $black
                        background-color: transparent
                        border: 0
                        // &:nth-child(1)
                        //     margin-top: 4px
                        // &:nth-last-child()
                        //     margin-bottom: 4px
                        a
                            display: block
                            font-size: calculateRem(13px)
                            color: $black
                            width: 100%
                            text-decoration: none
                            input[type="checkbox"]
                                &:checked + label
                                    font-weight: bold
                                    pointer-events: none
                                    &:after
                                        opacity: 1
                                        max-width: 9px
                            label
                                width: 100%
                                font:
                                    size: calculateRem(13px)
                                    weight: 500
                                @include transition(all .2s ease-in-out)
                                &:before
                                    left: -27px
                                &:after
                                    content: ''
                                    width: 5px
                                    height: 5px
                                    left: -20px
                                    opacity: 0
                                    top: 2px
                                    border-radius: 50%
                                    background-color: transparent
                                    @include box-shadow(0px 0px 0px 7px $light_purple )
                                    @include transition(all .03s ease-in-out)
                                &.red
                                    &:after
                                        @include box-shadow(0px 0px 0px 7px $light_red )
                .tr-tercinary
                    background-color: transparent
                    color: $black
                    min-height: 50px
                    text-align: left
                    outline: none
                    box-shadow: none
                    border-top: 1px solid $color_box
                    padding: 15px 14px
                    font:
                        family: $montserrat
                        size: calculateRem(14px)
                        weight: 700
                        style: normal
                        stretch: normal
                    line-height: normal
                    letter-spacing: normal
                    position: relative
                    overflow: hidden
                    @include flexbox()
                    @include flex-direction(column)
                    &:not(.collapsed)
                        background-color: $light_purple
                        color: $white
                        &.red
                            background-color: $light_red!important
                        &:before
                            transform: rotate(-135deg)
                            border-color: $white!important
                    &:nth-child(1)
                        border: none
                    &:before
                        content: ''
                        cursor: pointer
                        position: absolute
                        top: 25px
                        right: 20px
                        border: solid $light_purple
                        border-width: 0 3px 3px 0
                        display: inline-block
                        padding: 3px
                        background-color: transparent
                        width: 10px
                        height: 10px
                        transform: rotate(45deg)
                        @include transition(all .3s ease-in-out)
                    small
                        font:
                            size: calculateRem(12px)
                            weight: 400
        .information-course
            width: 100%
            min-height: 150px
            height: 100%
            .content
                padding: 25px
                small
                    font:
                        family: $montserrat
                        size: calculateRem($seven)
                        weight: 300
                        style: normal
                        stretch: normal
                    line-height: 1.25
                    letter-spacing: normal
                    color: $title_3
                .price
                    font:
                        family: $montserrat
                        size: calculateRem(28px)
                        weight: 500
                        style: normal
                        stretch: normal
                    line-height: 1
                    letter-spacing: normal
                    color: $white
                .button-buy
                    margin-top: 20px
                    .tr-secondary
                        width: 100%
                        min-height: 58px