.tr-fale_tutor-resposta
    .form-group
        textarea
            outline: none
            box-shadow: none!important
            border: 1px solid rgba($title_4, .2)
            height: 140px
            padding: 15px
            @extend  .description-1
            font-weight: 400
            &::placeholder
                color: transparent
            &:focus,
            &:active,
            &:not(:placeholder-shown)
                border: 1px solid $light_purple
                color: $light_purple
            &:invalid
                border: 1px solid $light_red!important
                color: $light_red
                + .error
                        opacity: 1
                        font:
                            size: calculateRem(10px)
                            weight: 400
                        letter-spacing: calculateRem(1px)
                        color: lighten($light_red, 20%)
        .submit
            margin-top: 30px
            @include flexbox()
            @include justify-content(space-between)
            @include align-items(center)
            @include flex-wrap(wrap)
            input
                width: auto!important
                display: none
            .select-archive,
            .selected-archive
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                font:
                    family: $montserrat
                    size: calculateRem(12px)
                    weight: normal
                    style: normal
                    stretch: normal
                line-height: 2.08
                letter-spacing: normal
                text-align: justify
                color: $title_3
                position: relative
                &:before
                    content: ''
                    display: inline-block
                    width: 15px
                    height: 20px
                    left: 0 
                    top: 0
                    margin: auto 0
                    margin-right: 10px
                    background: 
                        image: url('../images/icons/upload.svg')
                        position: center center
                        repeat: no-repeat
                        size: contain
            .selected-archive
                color: $light_purple
                font-weight: 600
                // display: none
                &:before
                    display: none