.arrow-adjust
    .instrutor-carrousel
        .owl-carousel
            .owl-nav
                .owl-prev,
                .owl-next
                    left: -30px
                .owl-next
                    right: -30px
                    left: auto

.instrutor-carrousel
    .owl-carousel
        .owl-nav
            .owl-prev,
            .owl-next
                height: 67px
                width: 67px
                border-radius: 50%
                background-color: #5433F1
                box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2)
                color: transparent
                position: absolute
                top: calc(50% - 33px)
                left: -100px
                background-image: url('../images/icons/left-white.svg')
                background-repeat: no-repeat
                background-position: center
                opacity: 1
                @include transition(all .3s linear)
                &:hover
                    opacity: .6
            .owl-next
                left: auto
                right: -100px
                background-image: url('../images/icons/right-white.svg')
.line-center
    margin-top: 19px
    width: 100%
    position: relative
    text-align: center
    span
        background-color: white
        padding: 0px 10px
        z-index: 2
        position: relative
        font-size: 10px
    &:before
        position: absolute
        content: ""
        width: 100%
        height: 1px
        background-color: #ECECEC
        top: 9px
        left: 0
.card-instrutor
    border: 1px solid #EFEFEF
    border-radius: 5px
    background-color: #FFFFFF
    padding: 40px
    word-break: break-all
    .content
        .MuiGrid-root
            .title-3.size-50
                letter-spacing: 0.01em
                font-weight: 600
            .nome-instrutor
                line-height: 16px        
            .picture
                width: 50px
                height: 50px
                border-radius: 50%
                // margin-bottom: 15px
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                margin-right: 20px
            ul
                display: flex
                width: 100%
                align-items: center
                justify-content: center
                margin: 0
                padding: 0
                li
                    list-style-type: none
                    margin: 0 15px
                    a
                        color: $light_purple

    p
        font-family: $montserrat
        text-align: center
        line-height: calculateRem(22px)
