.tr-header-cursando
    width: 100%
    height: 250px
    background-color: $black
    position: relative
    margin-bottom: 10px
    &:before
        position: absolute
        content: ''
        bottom: -8px
        left: 0
        display: block
        width: 100%
        height: 8px
        background-color: rgba($black, 0.1)
    .tr-circle-primary
        width: 60px
        height: 60px
        margin-right: 40px
        &:after
            display: none
        &:before
            @include transform(rotate(135deg))
            top: 0
            bottom: 0
            margin: auto
            left: 0
            right: -3px
    .content
        width: 100%
        height: 100%
        .row
            width: 100%
            height: 100%
            .tr-flex-center
                @include flexbox()
                @include justify-content(flex-start)
                @include align-items(center)
                .title-3
                .information-course
                    width: 80%
                    .title-1
                        font:
                            size: calculateRem(27px)
                            weight: bold
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                    .progress
                        margin-top: 12px
                    .information-description
                        padding-left: 20px
                        margin-top: 12px
                        width: 60%
                        @include flexbox()
                        @include justify-content(flex-start)
                        .description-3
                            font:
                                weight: regular
                            color: $white
                        .initial
                            position: relative
                            &:before
                                content: ''
                                display: block
                                background:
                                    image: url('../images/icons/flag.svg')
                                    position: center center
                                    size: contain
                                    repeat: no-repeat
                                width: 15px
                                height: 15px
                                position: absolute
                                top: 0
                                left: -18px
                        .final
                            position: relative
                            margin-left: 40px
                            &:before
                                content: ''
                                display: block
                                background:
                                    image: url('../images/icons/warning.svg')
                                    position: center center
                                    size: contain
                                    repeat: no-repeat
                                width: 15px
                                height: 15px
                                position: absolute
                                top: 0
                                left: -18px
    .button-continue
        width: 100%
        @include flexbox()
        @include justify-content(flex-end)
        .tr-secondary
            width: 100%
            max-width: 220px
            font-size: calculateRem(15px)
        .tr-primary
            width: 100%
            max-width: 220px
            font-size: calculateRem(15px)