.tr-modulos-curso-cursando
    .content 
        .title-1
            font-size: calculateRem(28px)
            font-weight: 600
    .modules-dropdown
        ul.list-modules
            padding: 0
            margin: 0
            > li
                display: block
                list-style-type: none
                position: relative
                background-color: $white
                @include box-shadow(0px 0px 0px 1px rgba($title_3,.2))
                border-radius: 5px
                margin-bottom: 20px
                &.locked
                    pointer-events: none
                &.bonus
                    .title
                        &:before
                            border-color: $light_red
                &.active
                    .title
                        background-color: $black
                        &:before
                            transform: rotate(-135deg)
                            border-color: $white 
                        span,
                        strong
                            color: $white
                    .count
                        color: #afafafaf!important
                    .module-lessons
                        height: auto
                        opacity: 1
                        visibility: visible
                        pointer-events: auto
                        li
                            pointer-events: auto
                .title
                    display: flex
                    padding: 17px 10px
                    // background-image: url('.../images/down-green.svg')
                    background-repeat: no-repeat
                    background-position: calc(100% - 10px) center
                    background-size: 10px
                    border-radius: 10px 10px 0px 0px
                    flex-direction: column
                    align-items: flex-start
                    @include box-shadow(0px 1px 0px 0px #E3EDEF)
                    @include transition(all .3s ease-in-out)
                    @media(min-width: 576px)
                        flex-direction: row
                        align-items: center
                    &:before
                        content: ''
                        cursor: pointer
                        position: absolute
                        top: 25px
                        right: 20px
                        border: solid $light_purple
                        border-width: 0 3px 3px 0
                        display: inline-block
                        padding: 3px
                        background-color: transparent
                        width: 10px
                        height: 10px
                        transform: rotate(45deg)
                        @include transition(all .2s ease-in-out)
                    &:hover
                    cursor: pointer
                    .count
                        position: absolute
                        right: 60px
                        font-size: calculateRem(14px)
                        top 0
                        color: $black
                        @include transition(all .3s ease)
                .badge
                    position: relative
                    margin: 0 
                        top: -3px
                        // left: -15px
                    bottom: 0px
                    left: 0px
                    font-size: calculateRem($eight)
                span,
                strong
                    font-weight: 700
                    font-size: calculateRem(16px)
                    color: $black
                    margin-right: 15px
                    margin-bottom: 10px
                    @include transition(all .3s linear)
                    @media(min-width: 576px)
                        margin-bottom: 0
                span
                    font-weight: 300
                strong
                    position: relative
                    &:before
                        content: '-'
                        display: block
                        position: absolute
                        right: -11px
                        top: 0
                        bottom: 0
                        margin: auto
                        display: flex
                        justify-content: center
                        align-content: center
                        align-items: center

            .module-lessons
                padding: 0
                height: 0
                overflow: hidden
                opacity: 0
                visibility: hidden
                pointer-events: none
                background-color: white
                border-radius: 0px 0px 10px 10px
                @include box-shadow(0px 0px 0px 1px rgba($title_3,.2))
                @include transition(all .3s linear)
                p,
                li
                    display: block
                    list-style-type: none
                    padding: 15px 35px
                    pointer-events: none
                    font-weight: 300
                    font-size: calculateRem(14px)
                    color: $black
                    background-color: transparent
                    border: 0
                    @include transition(all .3s linear)
                    border-top:  1px solid rgba($title_3,.2)
                    &:nth-child(1)
                        border: none
                    &:hover
                        text-decoration: none
                        color: $light_purple
                    a
                        display: block
                        font-size: calculateRem(14px)
                        color: $black
                        text-decoration: none
                    .count
                        margin-left: 7px
                        position: absolute
                        display: inline-block
                        font:
                            family: $montserrat
                            size: calculateRem(13px)
                            weight: 500
                        color: rgba($black,.8)!important
                        @include transition(all .3s ease)