.tr-forum-resposta
    .card
        border: none
        float: right
        width: 90%
        min-height: 280px
        border-radius: 5px
        background-color: #ffffff
        @include box-shadow( 0px 0px 0px 1px rgba(#ececec, 1))
        .spacing
            padding: 30px
                left: 50px
                right: 50px
            .content
                @include flexbox()
                @include justify-content(flex-start)
                @include align-items(flex-start)
                @include flex-basis(50%)
                @include flex-wrap(wrap)
                @Include flex-direction(column)
                .author
                    margin-top: 20px
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                    .avatar
                        width: 50px
                        height: 50px
                        border-radius: 100px
                        background-color: $title_4
                        overflow: hidden
                        margin-right: 25px
                        img
                            width: 100%
                            height: 150%
                    .description
                        @include flexbox()
                        @include flex-direction(column)
                        @include justify-content(flex-start)
                        @include align-items(flex-start)
                    .name
                        font:
                            family: $montserrat
                            size: calculateRem(17px)
                            weight: normal
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                        text-align: center
                        color: $black
                    .post
                        font:
                            family: $montserrat
                            size: calculateRem($eight)
                            weight: 300
                            style: normal
                            stretch: normal
                        line-height: 1.5
                        letter-spacing: normal
                        text-align: center
                        color: $title_3
                .attachment
                    margin-top: 20px
                    width: auto
                    height: 32px
                    border-radius: 3px
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(flex-start)
                    @include flex-wrap(wrap)
                    a
                        padding: 5px
                            left: 10px
                            right: 10px
                        margin-right: 10px
                        background-color: #ececec
                        font:
                            family: $montserrat
                            size: 12px
                            weight: bold
                            style: normal
                            stretch: normal
                        line-height: 1.92
                        letter-spacing: normal
                        color: $light_purple
                        text-decoration: underline
                        @include flexbox()
                        @include justify-content(center)
                        @include align-items(center)
                        span
                            display: inline-block
                            background: 
                                image: url('../images/icons/download.svg')
                                position: center center2
                                repeat: no-repeat
                                size: contain
                            width: 20px
                            height: 20px
                            margin-right: 5px
                        i
                            display: inline-block
                            background: 
                                image: url('../images/icons/close.svg')
                                position: center center
                                repeat: no-repeat
                                size: contain
                            width: 10px
                            height: 20px
                            margin-left: 10px
    .footer
        width: 100%
        height: 100px
        border-top: 1px solid #ececec
        @include flexbox()
        @include justify-content(space-between)
        @include align-items(center)
        @include flex-wrap(wrap)
        padding:  10px
            left: 50px
            right: 50px
        .report
            a
                font:
                    family: $montserrat
                    size: calculateRem(12px)
                    weight: bold
                    style: normal
                    stretch: normal
                line-height: normal
                letter-spacing: normal
                color: $black
                @include transition( all .2s ease-in-out )
                &:focus,
                &:hover,
                &:active
                    color: $light_purple
                    text-decoration: none
        .response
            width: 200px
            .tr-secondary,
            .tr-primary,
                height: 50px
    .arrow-right
        display: inline-block
        background: 
            image: url('../images/icons/arrow-right.svg')
            position: center center
            repeat: no-repeat
            size: contain
        width: 30px
        height: 40px
        margin: 
            top: 10px
            left: 10px