.toggle-buttons
	display: flex
	button
		font-weight: 400
		font-size: calculateRem(12px)
		color: $menu
		background-color: transparent
		padding: 10px 25px
		min-width: 150px
		border-radius: 5px
		margin-right: 15px
		border: 0
		border: 1px solid $title_5
		@include box-shadow(0 2px 0 0 rgba(0,0,0,0.02))
		@include transition(all .3s linear)
		&:last-child
			margin-right: 0
		&.active
			background-color: $black
			border: 1px solid $black
			color: white

.forum-topics
	background-color: white
	border-radius: 5px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	.top
		background-color: #F8F8F8
		ul
			display: flex
			margin: 0
			padding: 0
			li
				list-style-type: none
				padding: 10px 15px
				width: 16.666666666666%
				&:nth-child(1)
					width: 50%
					padding: 10px 30px
	.middle
		ul
			display: flex
			margin: 0
			padding: 0
			li
				list-style-type: none
				width: 16.666666666666%
				display: flex
				align-items: center
				justify-content: center
				@include box-shadow(0px 1px 0px 0px #ECECEC)
				&:nth-child(1)
					width: 50%
				span.count-topic
					font-weight: 400
					font-size: calculateRem(18px)
					color: $black
				.topic-meta
					display: flex
					padding: 40px 30px
					align-items: center
					.avatar
						min-width: 50px
						height: 50px
						border-radius: 50%
						background-repeat: no-repeat
						background-position: center
						background-size: cover
						margin-right: 15px
				.author-meta
					display: flex
					flex-direction: column
					.title-topic
						font-weight: 400
						font-size: calculateRem(18px)
						color: $light_purple
						letter-spacing: 0
						@include transition(all .3s linear)
						&:hover
							color: $light_green
							text-decoration: none
					strong
						font-size: calculateRem(12px)
						margin: 0
						span
							font-weight: 400

.falar-item
	display: flex
	align-items: center
	background: white
	border-radius: 5px
	padding: 40px 30px
	margin-bottom: 15px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	.falar-count
		width: 15%
		display: flex
		align-items: center
		justify-content: center
	.falar-meta
		width: 85%
		display: flex
		align-items: center
		.avatar
			position: relative
			min-width: 50px
			height: 50px
			border-radius: 50%
			background-repeat: no-repeat
			background-position: center
			background-size: cover
			margin-right: 15px
			.new-messages
				display: flex
				align-items: center
				justify-content: center
				border-radius: 50%
				font-size: calculateRem(11px)
				font-weight: 700
				position: absolute
				top: 0px
				left: -10px
				width: 22px
				height: 22px
				background-color: $light_red
				color: white
				@include box-shadow(0px 0px 0px 2px white)
		.author-meta
			display: flex
			flex-direction: column
			.title-topic
				font-weight: 400
				font-size: calculateRem(18px)
				color: $light_purple
				letter-spacing: 0
				@include transition(all .3s linear)
				&:hover
					color: $light_green
					text-decoration: none
			strong
				font-size: calculateRem(12px)
				margin: 0
				span
					font-weight: 400

.certificado-item
	display: flex
	align-items: center
	justify-content: space-between
	background: white
	border-radius: 5px
	padding: 30px
	margin-bottom: 30px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	.info
		display: flex
		align-items: center
		.avatar
			position: relative
			min-width: 50px
			height: 50px
			border-radius: 50%
			background-repeat: no-repeat
			background-position: center
			background-size: cover
			margin-right: 30px
		a
			font-weight: 700
			font-size: calculateRem(16px)
			color: $light_purple
			letter-spacing: 0
			text-decoration: underline
			@include transition(all .3s linear)
			&:hover
				color: $light_green
			img
				width: 20px
				height: auto
				margin-right: 10px
	.author-meta
		display: flex
		flex-direction: column
		strong
			font-size: calculateRem(12px)
			margin: 0
			span
				display: block
				font-weight: 400

.my-account-area
	margin-top: 50px
	margin-bottom: 150px
	.account-session
		padding-left: 50px
		.title-session
			display: flex
			align-items: center
			justify-content: space-between
			h1
				span.count-alert
					font-weight: 400
		.content-session
			margin-top: 30px
			.account-card
				width: 100%
				min-width: 0
				margin-bottom: 30px
				min-height: 350px
				&:hover
					transform: scale(1)
					opacity: 1
					.image-full,
					.name,
					.footer
						opacity: 1
				.name
					min-height: 160px
					.progress
						margin-top: 15px
			.account-event
				margin-bottom: 49px
				padding-bottom: 50px
				border-bottom: 1px solid rgba(0,0,0,.1)
				&:last-child
					border: 0
				.content
					@include flex-wrap(unset)

#select-biblioteca
	width: 90%
	max-width: 500px
	font-size: 18px
	height: 55px
	margin-bottom: 50px
	&:after
		top: calc(50% - 5px)
	> ul
		transform: translateY(20px)

.biblioteca-item
	background: white
	border-radius: 5px
	margin-bottom: 30px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	h2
		padding:
			top: 30px
			left: 30px
			right: 30px
		line-height: 16px
		margin-bottom: 20px
		a
			color: $black
			font-size: calculateRem(16px)
	p
		font-size: calculateRem(14px)
		padding:
			bottom: 40px
			left: 30px
			right: 30px
	.download-link
		display: flex
		align-items: center
		padding: 15px 30px
		display: block
		font-weight: 700
		font-size: calculateRem(14px)
		color: $light_purple
		text-decoration: underline
		@include box-shadow(0px -1px 0px 0px #ECECEC)
		@include transition(all .3s linear)
		&:hover
			color: $light_green
			text-decoration: none
		img
			margin-right: 10px

.conquista-item
	display: flex
	align-items: flex-start
	background: white
	padding: 30px
	border-radius: 5px
	margin-bottom: 30px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	img
		margin-right: 30px
	.content
		h2
			font-size: calculateRem(22px)
			margin-bottom: 20px
		p
			font-size: calculateRem(14px)
			line-height: calculateRem(25px)
			margin-bottom: 5px

.list-feed-badge
	background-color: white
	border-radius: 5px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	.list-feed-item
		display: flex
		align-items: center
		padding: 30px
		@include box-shadow(0px 1px 0px 1px #ECECEC)
		.badge-list
			position: relative
			width: 50px
			height: 50px
			margin-right: 20px
			.badge-icon
				width: 100%
				height: auto
				border-radius: 50%
			.badge-owner
				position: absolute
				bottom: 0
				right: 0
				border-radius: 50%
				width: 20px
				height: 20px
		.badge-meta
			h3
				font-size: calculateRem(14px)
			p
				color: #6C6C6C
				margin: 0
				font-weight: 500
		.badge-time
			margin-left: auto

.list-ranking
	background-color: white
	border-radius: 5px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	.list-ranking-item
		display: flex
		align-items: center
		padding: 30px
		@include box-shadow(0px 1px 0px 1px #ECECEC)
		&:nth-child(odd)
			background-color: #ECECEC
		&.you
			@include box-shadow(0px 0px 0px 0px #ECECEC, inset 0px 4px 0px 0px $light_green)
		.position
			position: relative
			margin-right: 20px
			img
				border-radius: 50%
				width: 35px
				height: 35px
			span
				position: absolute
				bottom: 0
				right: 0
				width: 15px
				height: 15px
				display: flex
				align-items: center
				justify-content: center
				background-color: $light_purple
				color: white
				font-size: calculateRem(8px)
				border-radius: 50%
		h2
			font-size: calculateRem(14px)
			margin: 0
		small
			margin-left: auto

.orders-table
	background-color: white
	border-radius: 5px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	.head
		background-color: #F8F8F8
		ul
			margin: 0
			padding: 0
			display: flex
			li
				list-style-type: none
				flex: 1
				padding: 12px
				color: $footer_gray
				font-weight: 400
				font-size: calculateRem(12px)
				&:first-child,
				&:last-child
					padding: 12px 30px
	.content
		.order-item
			display: flex
			align-items: center
			background-image: url("../images/icons/down-purple.svg")
			background-repeat: no-repeat
			background-position: calc(100% - 30px) center
			@include transition(all .3s linear)
			&.open
				background-image: url("../images/icons/up-purple.svg")
			&:hover
				cursor: pointer
			> div
				flex: 1
				padding: 30px 12px
				font-weight: 400
				font-size: calculateRem(16px)
				color: $black
				&:first-child,
				&:last-child
					padding: 12px 30px
				&.green
					color: $light_green
				&.yellow
					color: $light_yellow
				&.red
					color: $light_red
		.order-details
			opacity: 0
			visibility: hidden
			pointer-events: none
			height: 0
			overflow: hidden
			@include transition(all .3s linear)
			&.show
				opacity: 1
				visibility: visible
				pointer-events: auto
				height: auto
			.content
				padding: 30px

#config-account
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	background-color: white
	border-radius: 5px
	padding: 60px
	@include box-shadow(0px 0px 0px 1px #ECECEC)
	h2
		width: 100%
	.attachment-file,
	.input-group
		width: calc(50% - 15px)
		margin-bottom: 30px
		input
			width: 100%
	.bottom
		width: 100%
		display: flex
		align-items: center
		justify-content: flex-end
		padding-top: 60px
		margin-top: 30px
		@include box-shadow(0px -1px 0px 0px #ECECEC)
		button
			font-size: calculateRem(18px)

.attachment-file
	height: 55px
	input
		height: 100%
		width: 100%
		padding-top: 15px
		font-weight: 400
		font-size: calculateRem(16px)
		color: #6C6C6C

.tutorial-area
	.video
		height: 480px
		margin-bottom: 30px
		iframe
			width: 100%
			height: 100%
			border: 0
	.content
		p
			@extend .description-1
		strong,
		b
			font-weight: 700
		a
			color: $light_purple
			font-weight: 700
			text-decoration: underline
			@include transition(all .3s linear)
			&:hover
				color: $light_green