.tr-filtered-event
    width: 100%
    height: 98px
    background-color: rgba($black,.04)
    .content
        @include flexbox()
        @include justify-content(space-between)
        @include align-items(center)
        @include flex-basis(20%)
        @include flex-wrap(wrap)
        width: 100%
        height: 100%
        padding: 
            left: 50px
            right: 50px
        .filter-button
            @include flexbox()
        .button
            width: 180px
            .tr-quaternary
                width: 160px
                height: 40px
                border-radius: 5px
                background-color: $white
                @include box-shadow(0 2px 0 0 #00000005)
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                border: 1px solid rgba($black, .08)
                font:
                    family: $montserrat
                    size: calculateRem(12px)
                    weight: normal
                    style: normal
                    stretch: normal
                line-height: normal
                letter-spacing: normal
                text-align: center
                @include transition(all .2s ease-in-out)
                &.active
                    background-color: $black
                    color: $white
        .filter-1
        .filter-3
            float: right
            @include flexbox()
            @include justify-content(flex-end)
            .selected
                width: auto
                max-width: 150px