.tr-event-single
    padding: 
        left: 50px
        right: 50px
    .card-event
        border-radius: 5px
        background-color: #ffffff
        width: 100%
        height: auto
        overflow: hidden
        @include box-shadow(0px 0px 0px 1px rgba($black, .1))
        .banner
            height: 391px
            width: 100%
            background: 
                size: cover
                position: center center
                repat: no-repeat
        .tr-card-event-flat
            min-height: 250px
            height: auto
            border: none!important
            width: 85%
            margin: 0 auto
            a
                outline: none!important
                text-decoration: none!important
                &:hover

            .information
                @include flex(1 1 80%)
                margin-left: 70px
                .content
                    .local
                        .description-3
                            font:
                                family: $montserrat
                                size: calculateRem(17px)
                                weight: normal
                                style: normal
                                stretch: normal
                            line-height: 1.94
                        .hours,.local,.online
                            &:before
                                width: 20px
                                height: 18px
                                top: 7px
                                left: -22px
                    .description
                        max-width: 80%
