.tr-404
    width: 100%
    height: 700px
    .container,
    .row
        width: 100%
        height: 100%
        .card
            background-color: transparent
            border-radius: 5px
            width: 50%
            max-width: 550px
            min-height: 500px
            @include box-shadow(0px 0px 0px 1px rgba($title_3, .2))
            padding: 70px
            @include flexbox()
            @include justify-content(flex-start)
            @include align-items(center)
            @include flex-direction(column)
            .title-1
                font-size: calculateRem(65px)
            .description-1  
                font:
                    family: $montserrat
                    size: calculateRem(28px)
                    weight: 100
                    style: normal
                    stretch: normal
                line-height: normal
                letter-spacing: normal
                text-align: center
                color: #ffffff
            .return
                width: 100%
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                margin-top: 130px
                .tr-secondary
                    width: 70%
                    max-width: 320px