#banner-full
    height: 100vh
    width: 100%
    background-color: black
    .slick-slider
        height: 100%
        ul.slick-dots
            position: absolute
            height: 100%
            top: 0
            right: 5%
            width: 20px
            display: flex !important
            align-items: center
            justify-content: center
            flex-direction: column
            li
                display: block
                margin: 0
                width: 100%
                margin-bottom: 15px
                &:last-child
                    margin-bottom: 0
                &.slick-active
                    button
                        @include box-shadow(0px 0px 0px 2px white)
                button
                    position: relative
                    border-radius: 50%
                    @include box-shadow(0px 0px 0px 0px white)
                    @include transition(all .3s linear)
                    &:before
                        position: absolute
                        top: calc(50% - 3px)
                        left: calc(50% - 3px)
                        color: transparent
                        width: 6px
                        height: 6px
                        background-color: white
                        border-radius: 50%
                        opacity: 1 !important
        .slick-list
            height: 100%
            .slick-track
                height: 100%
                .slick-slide
                    height: 100%
                    > div
                        height: 100%
                        > div
                            position: relative
                            height: 100%
                            .image
                                position: absolute
                                top: 0
                                left: 0
                                opacity: .5
                                width: 100%
                                height: 100%
                                z-index: 10
                            .container
                                height: 100%
                                display: flex
                                align-items: flex-end
                                justify-content: center
                                flex-direction: column
                                position: relative
                                z-index: 20
                                h2
                                    font-size: calculateRem(60px)
                                    color: white
                                    letter-spacing: 0
                                    text-align: right
                                    margin-bottom: 70px
                                    font-weight: 800
                                    span
                                        display: block
                                        font-weight: 300
                                a
                                    background: $light_purple
                                    border-radius: 2px
                                    font-weight: 900
                                    text-transform: uppercase
                                    font-size: calculate
                                    color: white
                                    letter-spacing: 5px
                                    text-align: center
                                    padding: 26px 30px
                                    width: 240px
                                    display: block
                                    text-align: left
                                    float: right
                                    background-image: url('../images/right-white.svg')
                                    background-size: 10px
                                    background-repeat: no-repeat
                                    background-position: calc(100% - 30px) center
                                    @include transition(all .3s linear)
                                    @include box-shadow(0 10px 20px 0 rgba(31, 31, 31, 0.2), inset 0 -2px 0 0 rgba(31, 31, 31, 0.2))
                                    &:hover
                                        background-position: calc(100% - 15px) center
                                        text-decoration: none