.carrinho_aberto
    width: 100%
    .button
        width: 100%
        .tr-secondary
            height: 55px
            float: right
            font:
                size: calculateRem(15px)
        .tr-link
                font:
                    family: $montserrat
                    size: calcualteRem(14px)
                    weight: bold
                    style: normal
                color: $black
    .card
        width: 100%
        min-height: 350px
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include flex-basis(50%)
        @include flex-wrap(wrap)
        @include flex-direction(column)
        text-align: center
        .title-1
            font-size: calculateRem($two)
        .product
            padding: 50px
                top: 25px
                bottom: 10px
            width: 100%
            height: 100%
            .table
                width: 100%
                height: 100%
                thead
                    tr
                        th
                            border: none
                            box-shadow: none
                            background-color: transparent
                            font:
                                family: $montserrat
                                size: 12px
                                weight: 300
                                style: normal
                                stretch: normal
                            line-height: 1.83
                            letter-spacing: normal
                            color: $product
                tbody
                    border-radius: 5px
                    background-color: transparent
                    overflow: hidden
                    @include box-shadow(0 0 0 1px rgba($product, .3))
                    tr
                        border-top: 1px solid rgba($black, .1)
                        border-width: 80%
                        &:nth-child(1)
                            border-top: none
                        th,td
                            border: none
                            box-shadow: none
                            background-color: transparent
                    .product-description
                        @include flexbox()
                        @include justify-content(flex-start)
                        @include align-items(center)
                        @include flex-basis(50%)
                        @include flex-wrap(wrap)
                        .image-full
                            width: 87px
                            height: 94px
                            overflow: hidden
                            border-radius: 5px
                            margin-right: 20px
                            .image
                                width: 100%
                                height: 100%
                                display: block
                                background: 
                                    color: $title_3
                                    repeat: no-repeat
                                    size: cover
                                    position: center center
                        .description
                            position: relative
                            @include flexbox()
                            @include justify-content(flex-start)
                            @include align-items(flex-start)
                            @include flex-wrap(wrap)
                            @include flex-direction(column)
                            .title-1
                                font:
                                    family: $montserrat
                                    size: calculateRem(23px)
                                    weight: 500
                                    style: normal
                                    stretch: normal
                                line-height: 1.2
                                letter-spacing: normal
                                color: $black
                                margin: 
                                    top: 5px
                            .badge
                                position: relative
                                margin: 0
                                margin-bottom: 10px
                                bottom: 0
                                left: 0
                    .price
                        width: 25%
                        height: 100%
                        padding: 0
                        .flex
                            @include flexbox()
                            @include justify-content(center)
                            @include align-items(center)
                            height: 100%
                            margin-left: 5px
                            font:
                                family: $montserrat
                                size: calculateRem(26px)
                                weight: bold
                                style: normal
                                stretch: normal
                            line-height: 1
                            letter-spacing: normal
                            color: $black
        .cupons
            @include flexbox()
            @include justify-content(space-between)
            @include flex-basis(50%)
            @include align-items(center)
            width: 100%
            padding: 70px
                top: 25px
                bottom: 50px
            .content-input
                @include flex( 1 1 50% )
                .input-group
                    @include align-items(center)
                    position: relative
                    max-width: 400px
                    label
                        margin: 0
                            right: 20px
                        top: 23px
                        font:
                            family: $montserrat
                            size: calculateRem(12px)
                            weight: bold
                            style: normal
                            stretch: normal
                        line-height: 1.25
                        letter-spacing: normal
                        color: darken($black, 30%)
                    input
                        outline: none!important
                        height: 60px
                        border-radius: 5px
                        border-color: $title_3
                        box-shadow: none!important
                        max-width: 400px
                        @include transition(all .3s ease-in-out)
                        &:hover,
                        &:focus,
                        &:active
                            border-color: $light_purple
                    .input-group-append
                        position: absolute
                        right: 0
                        top: 0
                        bottom: 0
                        margin: auto 0
                        button
                            background-color: transparent
                            border: none
                            box-shadow: none
                            outline: none
                            text-decoration: underline
                            color: #7d7474
                            font-size: calculateRem(14px)
                            z-index: 7
                            &:hover,
                            &:focus,
                            &:active
                                color: darken($title_3, 40%)
            .price-descont
                @include flex(1 1 20%)
                @include flexbox()
                @include justify-content(flex-end)
                @include align-items(center)
                margin-right: 4%
                @media(min-width: 1600px)
                    margin-right: 5%

                .price
                    max-width: 35%
                    font:
                        family: $montserrat
                        size: calculateRem(16px)
                        weight: bold
                        style: normal
                        stretch: normal
                    line-height: 1.39
                    letter-spacing: normal
                    color: $black
        .footer-price
            @include flexbox()
            @include justify-content(flex-end)
            @include align-items(center)
            width: 100%
            min-height: 80px
            background-color: rgba($black, .9)
            background-color: rgba(236, 236, 236, 0.5)
            padding: 0px
                top: 0px
                bottom: 0px
                right: 9.5%
            .title-1
                font:
                    family: $montserrat
                    size: calculateRem(22px)
                    weight: bold
                    style: normal
                    stretch: normal
                line-height: 1
                letter-spacing: normal
                color: $black

.input-coupon
    display: flex
    align-items: center
    span     
        color: #2E2E2E         
        font-size: calculateRem(16px)     
        font-weight: bold       
        line-height: calculateRem(20px)
    .coupon-area
        position: relative
        input
            padding: 15px
            padding-right: 85px
            height: 70px
            margin-left: 15px
            width: 330px
        button
            position: absolute
            right: 15px
            top: 22px
            color: #7D7474
            font-size: calculateRem(16px)
            font-weight: bold
            line-height: 22px
            background-color: transparent
            border: 0
            text-decoration: underline
        .label-success,
        .label-error
            display: none
            text-align: left
            padding-left: 15px
            font-size: 12px
            color: $light_red
            margin-top: 5px
        .label-success
            color: #34B16F
        &.error
            .label-error
                display: block
            input
                @include box-shadow(0px 0px 0px 1px $light_red)
        &.success
            .label-success
                display: block
            input
                @include box-shadow(0px 0px 0px 1px #34B16F)