.tr-carrousel-vh
    @media screen and ( max-width: 1200px )
        display: none
    background-color: $black
    width: 100%
    height: 100%
    min-height: 650px
    z-index: 0
    max-height: 1300px
    @include flexbox()
    @include justify-content(center)
    // @include align-items(center)
    padding-top: 80px
    @include flex-wrap(wrap)
    // @include flex-direction(column)
    position: relative
    .container  
        position: initial
    .content-carrousel
        width: 95%
        max-height: 600px
        margin-top: 0
        position: relative
        .owl-nav
            display: none
        .owl-dots
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
            @include flex-direction(column)
            position: absolute
            right: -50px
            top: 150px
            .owl-dot
                transition: all .2s ease-in-out
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                background: transparent!important
                border: none
                outline: none
                margin: 8px
                &.active
                    width: 20px
                    height: 20px
                    border-radius: 20px
                    position: relative
                    border: 1px solid $white
                    &:before
                        content: ''
                        display: block
                        width: 6px
                        height: 6px
                        position: absolute
                        top: 6px
                        left: 0
                        right: 0
                        margin-left: auto
                        margin-right: auto
                        border-radius: 20px
                        background-color: $white
                    span
                        display: none!important
                span
                    display: block
                    width: 6px
                    height: 6px
                    border-radius: 20px
                    background-color: $white
        .owl-stage-outer
            position: relative
            overflow: hidden
            @include transform(translate3d(0px, 0px, 0px))
            padding: 0
                left: 10px
                right: 10px
            .owl-stage
                @include flexbox()
                &:after
                    content: "."
                    display: block
                    clear: both
                    visibility: hidden
                    line-height: 0
                    height: 0
            .owl-item
                position: relative
                min-height: 1px
                float: left
        .itens
            @include flexbox()
            @include justify-content(space-between)
            @include align-items(center)
            @include flex-basis(50%)
            @include flex-wrap(no-wrap)
            height: 100%
            z-index: 0
            margin: 
                left: 70px
                right: 40px
            .content-left
                @include flex(1 1 40%)
                width: 100%
                height: 100%
                position: relative
                margin-bottom: 50px
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                .content
                    .title-1,
                    .title-2
                        width: 240%
                        font:
                            family: $montserrat
                            size: calculateRem(55px)
                    .title-2
                        font:
                            family: $montserrat
                            size: calculateRem(35px)
                            weight: 200
                        margin-top: -5px
                    .tr-secondary
                        font:
                            size: calculateRem(17px)
                            weight: 500
                        height: 65px
                        box-shadow: none
                        margin-top: 35px
            .content-right
                @include flex(1 1 60%)
                width: 100%
                height: 100%
                .image-full
                    height: 100%
                    min-width: 740px
                    overflow: hidden
                    border-radius: 5px
                    // @include box-shadow(0 20px 40px 0 rgba($black, 0.3))
                    img
                        min-width: 100%
                        max-width: 100%
                        max-height: 100%
    .content-carrousel-menu
        width: 100%
        margin-bottom: 5vh
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .owl-nav
            display: none
        .owl-dots
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
            @include flex-direction(column)
            position: absolute;
            right: -50px
            top: 150px
            .owl-dot
                transition: all .2s ease-in-out
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                background: transparent!important
                border: none
                outline: none
                margin: 8px
                &.active
                    width: 20px
                    height: 20px
                    border-radius: 20px
                    position: relative
                    border: 1px solid $white
                    &:before
                        content: ''
                        display: block
                        width: 6px
                        height: 6px
                        position: absolute
                        top: 6px
                        left: 0
                        right: 0
                        margin-left: auto
                        margin-right: auto
                        border-radius: 20px
                        background-color: $white
                    span
                        display: none!important
                span
                    display: block
                    width: 6px
                    height: 6px
                    border-radius: 20px
                    background-color: $white
        .owl-stage-outer
            position: relative
            // overflow: hidden
            @include transform(translate3d(0px, 0px, 0px))
            @include flexbox()
            @include align-items(center)
            overflow-x: hidden
            width: 90%
            height: 100%
            .owl-stage
                @include flexbox()
                width: 100%!important
                @include flexbox()
                @include justify-content(flex-start)
                @include align-items(center)
                &:after
                    content: "."
                    display: block
                    clear: both
                    visibility: hidden
                    line-height: 0
                    height: 0
            .owl-item
                position: relative
                min-height: 1px
                float: left
                @include flex-basis(50%)
                @include flex(1 1 33%)
                &:before
                    content: ''
                    display: block
                    position: absolute
                    left: 0
                    top: 0 
                    width: 0
                    height: 2px
                    background-color: $white
                    @include transition(all .3s ease-in-out)
                &.current-slide
                    &:before
                        width: 70%
                    .itens
                        .content
                            .title-1,
                            .description-2
                                color: $white
                .itens
                    width: 80%
                    height: 100px
                    cursor: pointer
                    @include flexbox()
                    @include justify-content(flex-start)
                    @include align-items(center)
                    border-top: 1px solid rgba($white,.1)
                    .content
                        .title-1,
                        .description-2
                            color: rgba($white,.1)
                            @include transition(all .3s ease-in-out)
                        .description-2
                            font:
                                size: calculateRem($eight)
    .button-next
        width: 100%
        position: absolute
        bottom: -30px
        left: 0
        right: 0
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)