.carrinho_vazio
    width: 100%
    .card
        width: 100%
        min-height: 350px
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include flex-basis(50%)
        @include flex-wrap(wrap)
        @include flex-direction(column)
        text-align: center
        .title-1
            font-size: calculateRem($two)
        .button
            .tr-secondary
                height: 55px
                font-size: calculateRem(14px)