.tr-header-contato
    width: 100%
    height: 250px
    background-color: $black
    position: relative
    margin-bottom: 10px
    &:before
        position: absolute
        content: ''
        bottom: -8px
        left: 0
        display: block
        width: 100%
        height: 8px
        background-color: rgba($black, 0.1)
    .tr-circle-primary
        width: 60px
        height: 60px
        margin-right: 40px
        &:after
            display: none
        &:before
            @include transform(rotate(135deg))
            top: 0
            bottom: 0
            margin: auto
            left: 0
            right: -3px
    .content
        width: 100%
        height: 100%
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)

.tr-card-contato
    margin-top: -80px
    .card
        border-radius: 6px
        background-color: $white
        box-sizing: border-box
        border: none
        @include box-shadow(0px 0px 0px 1px #efefef)
        padding: 70px
        width: 100%
        height: 580px
        .content
            width: 100%
            min-height: 100%
            height: 100%
            @include flexbox()
            @include justify-content(space-between)
            @include align-items(flex-start)
            @include flex-basis(50%)
            @include flex-wrap(wrap)
            .information
                @include flex(1 1 30%)
                width: 100%
                height: 100%
                @include flexbox()
                @include justify-content(space-between)
                @include align-items(flex-start)
                @include flex-direction(column)
                .socials
                    width: 50%
                    @include flexbox()
                    @include justify-content(space-between)
                    @include align-items(center)
                    a
                        color: $light_purple
            .form
                @include flex(1 1 70%)
                width: 100%
                height: 100%
                @include flexbox()
                @include justify-content(flex-start)
                @include align-items(flex-end)
                @include flex-direction(column)
                .tr-form
                    max-width: 450px
                    textarea
                        height: 160px
                        max-height: 200px!important
    .submit
        width: 100%
        @include flexbox()
        @include justify-content(flex-end)
        @include align-items(center)
        .tr-secondary
            max-width: 280px