.tr-criar-conta
    width: 100%
    .container,
    .row
        width: 100%
        height: 100%
        padding: 30px 0
        .card
            background-color: transparent
            border-radius: 5px
            width: 50%
            max-width: 550px
            min-height: 700px
            @include box-shadow(0px 0px 0px 1px rgba($title_3, .2))
            padding: 70px
            .information
                width: 70%
                margin: auto
                @include flexbox()
                @include justify-content(space-between)
                @include align-items(center)
                img
                    height: 100%
                    width: 125px
                .divider
                    height: 20px
                    width: 3px
                    background-color: $white
            .form-login
                margin-top: 50px
                input
                    background-color: transparent!important
                    color: #FFFFFFFF
                    &::placeholder
                        color: transparent
                .label-animate
                    label
                        color: rgba($title_3, .8)
                        b
                            color: $light_red
                .checkbox
                    color: rgba($title_3, .8)
                    margin-left: 30px
                    pointer-events: all
                    margin-top: -8px
                    &:before
                        width: 25px
                        height: 25px
                        border-color: rgba($title_3, .8)
                        border-radius: 5px
                        left: -40px
                        
                    &:after
                        left: -36px
                .submit
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                    margin-top: 30px
                    .tr-secondary
                        width: 70%s
                        max-width: 320px
                        padding-right: 15px
                        .create_account
                            width: 20px
                            height: 20px
                            margin-right: 5px
                            display: block
                            background: 
                                image: url('../images/icons/create_account.svg')
                                position: center center
                                repeat: no-repeat
                                size: contain
    
.create-account-step
    width: 90%
    max-width: 600px
    margin: 0 auto
    border: 1px solid #6C6C6C
    border-radius: 5px
    padding: 60px
    .header-step
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        margin-bottom: 50px
        h2
            font-size: calculateRem(20px)
            margin-top: 40px
        small
            font-family: $montserrat
            color: white
            font-weight: 200
    form
        .steps
            .step
                position: relative
                &.current-step
                    height: 60px
                    .form-group
                        opacity: 1
                        pointer-events: auto
                        z-index: 10
                    &.step-password
                        height: 120px
                        .form-group
                            &:nth-child(2)
                                top: 75px
                .form-group
                    margin: 0
                    position: absolute
                    top: 0
                    left: 0
                    opacity: 0
                    pointer-events: none
                    z-index: -1
                    label
                        color: white
                        b
                            color: red
                    input
                        color: white
                        padding-top: 25px
        .controls-step
            #next-step
                font-size: calculateRem(16px)
                margin: 0 auto
                margin-top: 50px

p.has-account
    font-family: $montserrat
    margin-top: 50px
    color: white
    display: block
    text-align: center
    font-size: calculateRem(14px)
    font-weight: 200
    a
        color: white
        text-decoration: underline
        font-weight: 300
        &:hover
            color: $light_green