.tr-cursos-destaque
  margin-top: 70px
  width: 100%
  text-align: center
  .destaque
    @include flexbox()
    @include justify-content(space-around)
    @include align-items(center)
    @include flex-basis(33%)
    @include flex-wrap(wrap)
    text-align: left
    width: 100%
    margin-top: 60px
    margin-bottom: 60px
    max-width: 1199px