.tr-header-depoimento
    width: 100%
    height: 250px
    background-color: $black
    position: relative
    margin-bottom: 10px
    &:before
        position: absolute
        content: ''
        bottom: -8px
        left: 0
        display: block
        width: 100%
        height: 8px
        background-color: rgba($black, 0.1)
    .tr-circle-primary
        width: 60px
        height: 60px
        margin-right: 40px
        &:after
            display: none
        &:before
            @include transform(rotate(135deg))
            top: 0
            bottom: 0
            margin: auto
            left: 0
            right: -3px
    .content
        width: 100%
        height: 100%
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)

.tr-card-depoimento
    margin-top: 50px
    .cards
        .sobre
            margin: 0
            padding: 0
            width: 92%
            margin: auto
            .content
                .title-1
                    font-size: calculateRem(28px)
                    font-weight: 600
            .video
                width: 100%
                max-height: 400px
                overflow: hidden
                border-radius: 7px
                margin-top: -2px
                @include box-shadow(0 20px 20px 0 rgba(0, 0, 0, 0.2))
                .video
                    height: 100%
                    background-color:  transparent
                    border-radius: 5px
                    box-shadow: 0 20px 40px 0 rgba($black, 0.3)
                    border-bottom-left-radius: 0px
                    border-bottom-right-radius: 0px
                    height: 100%
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                    position: relative
                    &.pause
                        cursor: pointer
                        &:before
                            cursor: pointer
                            content: ''
                            display: block
                            position: absolute
                            width: 200px
                            height: 100%
                            top: 10px
                            left: 0
                            right: -60px
                            margin: 0 auto
                            background: 
                                image: url(../images/icons/play.svg)
                                position: center
                                repeat: no-repeat
                                size: contain
                    video
                        border-radius: 5px
                        width: 100%
                        height: 100%
            .image
                width: 85%
                max-height: 400px
                overflow: hidden
                border-radius: 7px
                margin-top: -2px
                @include box-shadow(0 20px 20px 0 rgba(0, 0, 0, 0.2))
                img
                    width: 100%
                    height: auto
        .content
            width: 88%
            margin: auto
            margin-top: 60px
            margin-bottom: 80px
            .dep
                text-align: center
                h4
                    font:
                        family: Montserrat
                        size: calculateRem(25px)
                        weight: 400
                        style: normal
                        stretch: normal
                    line-height: 1.56
                    text-align: center
                    letter-spacing: normal
                    color: $light_purple
                small
                    font:
                        family: Montserrat
                        size: calculateRem(12px)
                        weight: 600
                        style: normal
                        stretch: normal
                    line-height: normal
                    letter-spacing: normal
                    text-align: center
                    color: $title_3
                    b
                        font-weight: 400
            p,a
                margin:
                    top: 20px
                    bottom: 30px
                font:
                    family: Montserrat
                    size: calculateRem(14px)
                    weight: 500
                    style: normal
                    stretch: normal
                line-height: 2
                letter-spacing: normal
                color: rgba($black, .6)
            blockquote
                width: 65%
                margin: auto
                    bottom: 30px
                font:
                    family: Montserrat
                    size: calculateRem(20px)
                    weight: normal
                    style: normal
                    stretch: normal
                line-height: normal
                letter-spacing: normal
                color:  $black

.testimonial-dep
    background-color: $black
    width: 100%
    min-height: 400px
    padding: 50px
    .title-1    
        text-align: center
    .testimonial-carrousel
        position: relative
        .owl-stage-outer
            width: 100%
            height: auto
            display: block
            overflow: hidden
            .owl-stage
                @include flexbox()
        .owl-nav
            .owl-prev
                cursor: pointer
                position: absolute
                top: 35%
                left: 0
                border: none
                width: 58px
                outline: none
                height: 58px
                border-radius: 58px
                box-shadow: 0 10px 20px 0 rgba($black, 0.2)
                background-color: $light_purple
                &:before
                    cursor: pointer
                    position: absolute
                    top: 25px
                    left: 3px
                    right: 0
                    margin:
                        left: auto
                        right: auto
                    content: ''
                    display: block
                    border: solid $white
                    border-width: 0 3px 3px 0
                    display: inline-block
                    padding: 3px
                    background-color: transparent
                    width: 10px
                    height: 10px
                    transform: rotate(135deg)
                span
                    display: none!important
            .owl-next
                cursor: pointer
                position: absolute
                top: 35%
                right: 0
                border: none
                width: 58px
                outline: none
                height: 58px
                border-radius: 58px
                box-shadow: 0 10px 20px 0 rgba($black, 0.2)
                background-color: $light_purple
                &:before
                    cursor: pointer
                    position: absolute
                    top: 25px
                    left: 0
                    right: 3px
                    margin:
                        left: auto
                        right: auto
                    content: ''
                    display: block
                    border: solid $white
                    border-width: 0 3px 3px 0
                    display: inline-block
                    padding: 3px
                    background-color: transparent
                    width: 10px
                    height: 10px
                    transform: rotate(-45deg)
                span
                    display: none!important
        .itens
            margin: 0 auto
            margin-top: 30px
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
            .content
                width: 65%
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                @include flex-direction(column)
                .description-2
                    color: $title_3
                    line-height: 1.75
                    letter-spacing: normal
                    text-align: center
            .see-more
                margin-top: 10px
                .tr-link
                    color: $white
                    line-height: 2.33
                    letter-spacing: 1px
                    text-transform: uppercase
                    font:
                        weight: 500
                        style: normal
                        family: $montserrat
                        size: calculateRem($nine)
                        stretch: normal
            .author
                margin-top: 40px
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                @include flex-direction(column)
                .avatar
                    width: 50px
                    height: 50px
                    border-radius: 100px
                    background-color: $title_4
                    margin-bottom: 10px
                    overflow: hidden
                    img
                        width: 100%
                        height: 150%
                .name
                    font:
                        family: $montserrat
                        size: calculateRem($seven)
                        weight: 300
                        style: normal
                        stretch: normal
                    line-height: normal
                    letter-spacing: normal
                    text-align: center
                    color: $white
                .city
                    font:
                        family: $montserrat
                        size: calculateRem($eight)
                        weight: 300
                        style: normal
                        stretch: normal
                    line-height: 1.5
                    letter-spacing: normal
                    text-align: center
                    color: $title_3

.testimonial-additional
    margin-top: 120px
    .cards
        .name
            width: 85%
            margin: auto
                bottom: 30px
            font:
                family: $montserrat
                size: calculateRem(20px)
                weight: bold
                style: normal
            stretch: normal
            line-height: 1.22
            letter-spacing: normal
            color: $black
            b
                font-weight: 400
        .sobre
            margin: 0
            padding: 0
            @include flexbox()
            @include justify-content(center)
            .image
                width: 85%
                max-height: 400px
                overflow: hidden
                border-radius: 7px
                margin-top: -2px
                // @include box-shadow(0 20px 20px 0 rgba(0, 0, 0, 0.2))
                img
                    width: 100%
                    height: auto
        .content
            width: 85%
            margin: auto
            margin-top: 40px
            margin-bottom: 80px
            b
                font:
                    family: Montserrat
                    size: calculateRem(18px)
                    weight: bold
                    style: normal
                    stretch: normal
                line-height: 1.56
                letter-spacing: normal
                color: $black
            p,a
                margin:
                    top: 20px
                    bottom: 30px
                font:
                    family: Montserrat
                    size: calculateRem(14px)
                    weight: 500
                    style: normal
                    stretch: normal
                line-height: 2
                letter-spacing: normal
                color: rgba($black, .6)
            blockquote
                width: 70%
                margin: auto
                    bottom: 30px
                font:
                    family: Montserrat
                    size: calculateRem(20px)
                    weight: normal
                    style: normal
                    stretch: normal
                line-height: normal
                letter-spacing: normal
                color:  $black

.new-depoimento
    .intro
        position: relative
        background-color: $black
        width: 100%
        height: calc(100vh - 160px)
        .container
            position: relative
            display: flex
            align-items: center
            height: 100%
            .title
                small
                    font-size: calculateRem(20px)
                    font-weight: 300
            .row
                position: relative
                z-index: 10
            .picture
                position: absolute
                width: 65%
                right: 0
                height: calc(100% - 200px)
                background-position: center
                background-repeat: no-repeat
                background-size: auto
        .button-next
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            position: absolute
            left: 0
            bottom: -30px
    .intro-video
        margin-top: 100px
        h2
            display: block
            text-align: center
            margin-bottom: 150px
        .content
            h3
                margin: 0
            small
                display: block
                font-size: calculateRem(20px)
                margin-bottom: 50px
            p
                display: block
                font-size: calculateRem(20px)
                margin-bottom: 50px
                color: $menu
                font-family: $montserrat
                font-style: italic
        div#playing-video
            video
                width: 100%
            &.pause
                cursor: pointer
                &:before
                    cursor: pointer
                    content: ''
                    display: block
                    position: absolute
                    width: 200px
                    height: 100%
                    top: 10px
                    left: 0
                    right: -60px
                    margin: 0 auto
                    background: 
                        image: url(../images/icons/play.svg)
                        position: center
                        repeat: no-repeat
                        size: contain
    .mais-videos
        margin-top: 135px
        h3
            position: relative
            display: block
            padding-bottom: 15px
            margin-bottom: 60px
            @include box-shadow(0px 1px 0px 0px $product)
            &:before
                content: ''
                display: block
                position: absolute
                width: 90%
                max-width: 350px
                height: 3px
                background-color: $light_purple
                bottom: -2px
                left: 0
        .mais-videos-item
            background-color: transparent
            border-radius: 5px
            padding: 10px
            margin-bottom: 30px
            @include box-shadow(0 0px 0px 0 rgba(0,0,0,0.08), 0px 0px 0px 0px #ECECEC)
            @include transition(all .3s linear)
            &:hover
                background-color: white
                @include box-shadow(0 2px 9px 0 rgba(0,0,0,0.08), 0px 0px 0px 1px #ECECEC)
            .picture
                height: 175px
                width: 100%
                border-radius: 5px
                background-position: center
                background-size: cover
                opacity: 1
                @include transition(all .3s linear)
                &:hover
                    opacity: .6
                a
                    display: block
                    width: 100%
                    height: 100%
            .content
                margin-top: 20px
                h4
                    margin: 0
                    a
                        font-size: calculateRem(18px)
    .todos-depoimentos
        background-color: $black
        padding: 100px 0
        margin-top: 120px
        h2
            display: block
            text-align: center
            margin-bottom: 150px
        .content
            h3
                margin: 0
                color: white
            small
                display: block
                font-size: calculateRem(20px)
                margin-bottom: 50px
                color: white
                font-weight: 300
            p
                display: block
                font-size: calculateRem(20px)
                margin-bottom: 30px
                font-weight: 300
                color: white
                font-family: $montserrat
                font-style: italic
            a
                text-transform: uppercase
                color: white
                font-size: calculateRem(12px)
                letter-spacing: 1px
                text-decoration: underline
        .picture
            width: 100%
            height: 400px
            background-position: center
            background-repeat: no-repeat
        .carrousel-todos-depoimentos
            margin-top: 135px
            h4
                padding-bottom: 15px
                border-bottom: 1px solid white
                margin-bottom: 60px
            .owl-carousel
                .owl-stage-outer
                    padding: 10px
                    .item
                        &.active
                            .picture-perfil
                                @include box-shadow(0px 0px 0px 2px #6236FF)
                            h3
                                font-weight: 500
                        .picture-perfil
                            width: 90px
                            height: 90px
                            border-radius: 50%
                            background-position: center
                            background-repeat: no-repeat
                            background-size: cover
                            margin-bottom: 20px
                        h3
                            font-size: calculateRem(18px)
                            display: block
                            text-align: center
                            margin: 0
                            font-weight: 300
                        small
                            display: block
                            text-align: center
                .owl-nav
                    .owl-next,
                    .owl-prev
                        position: absolute
                        width: 50px
                        height: 50px
                        color: transparent
                        left: -50px
                        top: calc(50% - 25px)
                        background-image: url(../images/icons/left-white.svg)
                        background-repeat: no-repeat
                        background-position: center
                    .owl-next
                        left: auto
                        right: -50px
                        background-image: url(../images/icons/right-white.svg)

#depoimentos
    h2
        font-weight: 800
        font-size: calculateRem(30px)
        color: black
        letter-spacing: 0
        text-align: center
        display: block
        margin-bottom: 30px
    .slick-slider
        margin-bottom: 100px
        @include box-shadow(0px 2px 0px 0px #ECECEC)
        .slick-arrow
            background: white
            border-radius: 50%
            width: 70px
            height: 70px
            background-image: url('../images/left-purple.svg')
            background-position: center
            background-repeat: no-repeat
            background-size: 10px
            z-index: 20
            @include box-shadow(0 5px 20px 0 rgba(0,0,0,0.10))
            @include transition(all .3s linear)
            &:hover
                background-color: $light_purple
                background-image: url('../images/left-white.svg')
            &:before
                display: none
            &.slick-next
                background-image: url('../images/right-purple.svg')
                &:hover
                    background-image: url('../images/right-white.svg')
        ul.slick-dots
            position: relative
            bottom: 0
            display: flex !important
            align-items: center
            justify-content: center
            padding-bottom: 100px
            li
                margin: 0
                margin-right: 15px
                &:last-child
                    margin-right: 0
                &.slick-active
                    button
                        @include box-shadow(0px 0px 0px 2px $footer_gray)
                button
                    position: relative
                    border-radius: 50%
                    @include box-shadow(0px 0px 0px 0px $footer_gray)
                    @include transition(all .3s linear)
                    &:before
                        position: absolute
                        top: calc(50% - 3px)
                        left: calc(50% - 3px)
                        color: transparent
                        width: 6px
                        height: 6px
                        background-color: $footer_gray
                        border-radius: 50%
                        opacity: 1 !important
    .depoimento-body
        .content
            margin-bottom: 30px
            p
                display: block
                font-weight: 400
                font-size: calculateRem(16px)
                color: $menu
                letter-spacing: 0
                text-align: center
                line-height: 1.750em
        .person-info
            margin-bottom: 30px
            strong
                display: block
                font-weight: 700
                font-size: calculateRem(18px)
                color: black
                letter-spacing: 0
                text-align: center
            small
                display: block
                font-weight: 400
                font-size: calculateRem(12px)
                color: $footer_gray
                letter-spacing: 0
                text-align: center
