.tr-entrar
    width: 100%
    height: 700px
    .container,
    .row
        width: 100%
        height: 100%
        .card
            background-color: transparent
            border-radius: 5px
            width: 50%
            max-width: 550px
            min-height: 550px
            @include box-shadow(0px 0px 0px 1px rgba($title_3, .2))
            padding: 70px
            .information
                width: 60%
                margin: auto
                @include flexbox()
                @include justify-content(space-between)
                @include align-items(center)
                img
                    height: 100%
                    width: 125px
                .divider
                    height: 20px
                    width: 3px
                    background-color: $white
            .form-login
                margin-top: 50px
                input
                    background-color: transparent!important
                    color: #FFFFFFFF
                    &::placeholder
                        color: transparent
                .label-animate
                    label
                        color: rgba($title_3, .8)
                        b
                            color: $light_red
                .checkbox
                    color: rgba($title_3, .8)
                    margin-left: 30px
                    &:before
                        width: 25px
                        height: 25px
                        border-color: rgba($title_3, .8)
                        border-radius: 5px
                        left: -30px
                    &:after
                        left: -26px
                .submit
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                    margin-top: 50px
                    .tr-secondary
                        width: 70%s
                        max-width: 320px
                        padding-right: 15px
                        .create_account
                            width: 20px
                            height: 20px
                            margin-right: 5px
                            display: block
                            background: 
                                image: url('../images/icons/create_account.svg')
                                position: center center
                                repeat: no-repeat
                                size: contain
                .remember
                    padding-top: 15px
                    @include flexbox()
                    @include justify-content(space-between)
                    @include align-items(center)
                    label
                        pointer-events: all
                        margin-top: -8px
                    .forgot 
                        a
                            font:
                                family: $montserrat
                                size: calculateRem(13px)
                                weight: bold
                                style: normal
                                stretch: normal
                            line-height: normal
                            text-decoration: underline
                            letter-spacing: normal
                            text-align: right
                            color: rgba($title_3, .8)