.tr-event
    .event
        margin:
            top: 60px
        text-align: center
        .content-card
            margin-top: 30px
            .tr-card-event-flat
                margin-bottom: 30px
                .image-full
                    .image
                        display: block
                        background: 
                            repeat: no-repeat
                            size: cover
                            position: center center
                        width: 100%
                        height: 100%
                .information
                    .description
                        text-align: left

// pagina de eventos principal
.events-show-event
    .event
        padding: 
            left: 50px
            right: 50px