.tr-fale-conosco
    width: 100%
    height: 100%
    min-height: 800px
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    .fale-conosco
        min-height: 600px
        width: 80%
        height: 80%
        margin-top: 40px
        background-color: $black
        border-radius: 5px
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1)
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        .content
            width: 100%
            height: 550px
            // margin: 40px
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
            @include flex-wrap(wrap)
            .information
                // @include flex(1 1 50%)
                padding:
                    top: 50px
                    left: 25px
                // width: 90%
                height: 100%
                .image-full
                    width: 100%
                    height: 70%
                    max-width: 500px
                    background-color: $title_3
                    max-height: 230px
                    border-radius: 5px
                    box-shadow: 0 20px 40px 0 rgba($black, 0.3)
                    overflow: hidden
                    .image
                        display: block
                        background: 
                            repeat: no-repeat
                            size: cover
                            position: center center
                        width: 100%
                        height: 100%
                .title
                    margin-top: -30px
                    .title-1
                        font:
                            family: $montserrat
                            size: calculateRem(45px)
                            weight: bold
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                    .title-2
                        margin-top: -10px
                        font:
                            family: $montserrat
                            size: calculateRem($two)
                            weight: 200
                            style: normal
                            stretch: normal
                        line-height: 1.67
                        letter-spacing: normal
                .description
                    margin-top: 30px
                    max-width: 500px
                    .description-1
                        font:
                            size: calculateRem($seven)
                            weight: 300
                            style: normal
                            stretch: normal
                        line-height: 1.56
                    .form-group 
                        justify-content: center
                        display: flex
            .form
                @include flex(1 1 50%)
                width: 90%
                height: 100%
                padding:
                    top: 50px
                    left: 40px
                .tr-form
                    @include flexbox()
                    @include justify-content(flex-start)
                    @include align-items(center)
                    @include flex-direction(column)
                    .form-group
                        width: 80%
                        input
                            background-color: transparent
                            height: 60px
                            font:
                                size: calculateRem($seven)
                                weight: 300
                            &::placeholder
                                color: transparent
                                font:
                                    size: calculateRem($seven)
                                    weight: 300
                            &:focus,
                            &:active,
                            &:not(:placeholder-shown)
                                border: 1px solid $light_purple
                                color: $white
                            &:invalid
                                border: 1px solid $light_purple!important
                                + .error
                                        opacity: 1
                                        font:
                                            size: calculateRem(10px)
                                            weight: 400
                                        letter-spacing: calculateRem(1px)
                                        color: $white
                        label
                            color: rgba($white,.7)
                    .tr-secondary
                        width: 60%
                        float: right
                        height: 60px
                        font:
                            size: calculateRem($six)
                            weight: bold
                        position: relative
                        padding:
                            // left: 30px
                        // &:before
                        //     content: ''
                        //     display: block
                        //     position: absolute
                        //     background:
                        //         image: url('../images/icons/mail.svg')
                        //         position: center center
                        //         repeat: no-repeat
                        //         size: contain
                        //     width: 20px
                        //     height: 20px
                        //     top: 17px
                        //     left: 70px