.tr-footer
    width: 100%
    height: 400px
    background-color: $black
    .content
        @include flexbox()
        @include justify-content(space-between)
        @include align-items(flex-start)
        @include flex-basis(20%)
        @include flex-wrap(wrap)
        height: 100%
        padding: 
            top: 80px
        .information
            @include flex(1 1 55%)
            width: 100%
            height: 100%
            @include flexbox()
            @include justify-content(flex-start)
            @include align-items(flex-start)
            @include flex-basis(50%)
            @include flex-wrap(wrap)
            @include flex-direction(column)
            .logo
                overflow: hidden
                width: auto
                height: auto
                img
                    max-height: 50px
            .description
                margin-top: 30px
                width: 90%
                .description-3
                    font:
                        family: $montserrat
                        size: calculateRem(12px)
                        weight: 300
                        style: normal
                        stretch: normal
                    line-height: 1.79
                    letter-spacing: normal
                    color: $title_3
            .socials
                margin-top: 30px
                @include flexbox()
                @include justify-content(space-between)
                @include align-items(center)
                @include flex-wrap(wrap)
                width: 40%
                a
                    color: $white
                    font:
                        size: calculateRem(18px)
                    @include transition(all .2s ease-in-out)
                    &:hover
                        color: rgba($white,.5)
        .navigation
            @include flex(1 1 20%)
            width: 100%
            .title-3
                margin-bottom: 30px
            ul.navigation
                margin: 0
                padding: 0
                .itens
                    font:
                        family: $montserrat
                        size: calculateRem(13px)
                        weight: normal
                        style: normal
                        stretch: normal
                    line-height: 2.43
                    letter-spacing: normal
                    list-style-type: none
                    a
                        color: $title_3
        .about
            @include flex(1 1 20%)
            width: 100%
            @include flex(1 1 20%)
            width: 100%
            .title-3
                margin-bottom: 30px
            ul.about
                margin: 0
                padding: 0
                .itens
                    font:
                        family: $montserrat
                        size: calculateRem(13px)
                        weight: normal
                        style: normal
                        stretch: normal
                    line-height: 2.43
                    letter-spacing: normal
                    list-style-type: none
                    a
                        color: $title_3
.tr-subfooter
    width: 100%
    min-height: 100px
    background-color: black
    border-top:  1px solid rgba($white,.5)
    @include flexbox()
    @include justify-content(flex-start)
    @include align-items(center)
    @include flex-basis(50%)
    @include flex-wrap(wrap)
    .content
        .description-2
            font:
                family: $montserrat
                size: 14px
                weight: 300
                style: normal
                stretch: normal
            line-height: 2.43
            letter-spacing: normal
            color: rgba($title_3, .5)
            a
                text-decoration: none
                color: $title_4
                font-weight: bold