.background-header
    width: 100%
    position: fixed
    top: 0
    z-index: 1000
    height: 90px
    background-color: $bg_menu
    border-bottom: 1px solid rgba($white,.5)
.applied-discount
    width: 100%
    height: 0px
    opacity: 0
    background-color: $light_purple
    @include transition(all .2s ease-in-out)
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    @include flex-wrap(wrap)
    .title-2
        text-transform: uppercase
        letter-spacing: 2.8px
        font:
            size: calculateRem($eight)
            weight: 400
        b
            font:
                size: calculateRem($eight)
                weight: 500
            color: $light_yellow
    &.open
        height: 35px
        opacity: 1
.tr-header-nav
    width: 100%
    height: 100%
    // overflow: hidden
    // background-color: $bg_menu
    @include transition(all .3s ease-in-out)
    @include flexbox()
    @include justify-content(space-around)
    @include align-items(center)
    @include flex-wrap(wrap)
    @include flex-basis(10%)
    .logo-full
        @include flex(1 1 7%)
        height: 100%
        width: auto
        cursor: pointer
        img
            width: 100%
            height: 100%
            width: 125px
    .itens-menu
        @include flex(1 1 55%)
        @include flexbox()
        @Include justify-content(center)
        @include align-items(center)
        .structure
            @include flexbox()
            @include justify-content(space-between)
            @include align-items(center)
            @include flex-wrap(wrap)
            margin: 0
            width: 100%
            height: 100%
            padding: 
                left: 60px
                right: 60px
            .itens
                list-style-type: none
                color: $menu
                position: relative
                a
                    list-style-type: none
                    color: $menu
                    text-decoration: none
                    font: 
                        size: calculateRem($seven)
                        weight: bold
                        family: $montserrat
                    @include transition(all .2s ease-in-out)
                    &:hover
                        color: $white
                &:before
                    z-index: 2
                    content: ''
                    position: absolute
                    display: block
                    width: 100%
                    height: 0
                    bottom: -34px
                    left: 0
                    background-color: $light_purple
                    @include transition(all .2s ease-in-out)
                &:hover
                    &:before
                        opacity: 1
                        height: 4px
                &.active
                    &:before
                        z-index: 2
                        content: ''
                        position: absolute
                        display: block
                        width: 100%
                        height: 3px
                        bottom: -33px
                        left: 0
                        background-color: $light_purple
                    a
                        color: $menu_active
    .search
        @include flex(1 1 3%)
        height: 100%
        width: 100%
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        .input-group
            @include flexbox()
            margin: 0
            @include justify-content(flex-end)
            @include align-items(center) 
            &:hover
                input
                    opacity: 1
                    padding: 15px
                    pointer-events: all
                    z-index: 0
                    width: 300px
                    border-radius: 5px
                    box-shadow: none
                    outline: none
                .tr-search
                    background-color: $light_purple
                    border-bottom-right-radius: 5px
                    border-top-right-radius: 5px
                    animation-duration: 2s
                    pointer-events: all
            input
                position: absolute
                pointer-events: none
                z-index: -1
                width: 35px
                height: 40px
                opacity: 0
                @include transition(all .3s ease-in-out)
                right: 0
                background-color: $bg_menu
                outline: none
                border: 1px solid $light_purple
                color: $white
                font: 
                    size: calculateRem($eight)
                    weight: 400
                    family: $montserrat
                &::placeholder
                    font: 
                        size: calculateRem($seven)
                        family: $montserrat
                        weight: 400
                    color: $title_4
            .tr-search
                position: relative
                height: 40px
                outline: none
                box-shadow: none
                pointer-events: none
                &:before
                    content: ''
                    display: block
                    pointer-events: all
                    background: 
                        size: contain
                        image: url(../images/header/search.svg)
                        position: center center
                        repeat: no-repeat
                    width: 18px
                    height: 18px
    .group-card
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        &.show
            .icon-button
                width: 35px
                height: 36px
                border-radius: 5px
                background-color: $light_purple
        .dropdown-menu
            width: 100%
            top: -1px!important
            left: -110px!important
            min-width: 300px!important
            border: none
            border-top: 4px solid $light_purple!important
            border-radius: 5px
            border-top-left-radius: 0px
            border-top-right-radius: 0px
            background-color: $white
            @include box-shadow(0 20px 20px 0 rgba(0, 0, 0, 0.2))
            &.show
                transform: translateY(88px)!important
            .card-view
                padding: 15px
                    top: 8px
                    bottom: 0px
                width: 100%
                height: 100%
                min-height: 150px
                border-bottom: 1px solid rgba($black,.1)
                &.bg-gray
                    background-color: rgba(84,51,241,0.06)
                .status
                    width: 100%
                    @include flexbox()
                    @include justify-content(space-between)
                    @include align-items(center)
                    @include flex-basis(50%)
                    .quantity,
                    .notifications
                        width: 100%
                        font:
                            family: $montserrat
                            size: calculateRem(12px)
                            weight: 500
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                        color: $black
                    a
                        width: 100%
                        font:
                            family: $montserrat
                            size: calculateRem(11px)
                            weight: bold
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                        @include flexbox()
                        @include justify-content(flex-end)
                        color: $light_purple
                .item
                    margin-top: 20px
                    padding: 5px
                    ul
                        @include flexbox()
                        @include justify-content(flex-start)
                        @include align-items(flex-start)
                        @include flex-direction(column)
                        @include flex-wrap(wrap)
                        margin: 0
                        padding: 0
                        li
                            list-style-type: none
                            @include flexbox()
                            @include justify-content(space-between)
                            @include align-items(center)
                            @include flex-basis(50%)
                            @include flex-wrap(wrap)
                            width: 100%
                            padding-bottom: 15px
                            margin-bottom: 15px
                            border-bottom: 1px solid rgba($black,.1)
                            &:last-child
                                border: none
                            .image
                                @include flex(1 1 10%)
                                min-width: 53px
                                min-height: 58px
                                max-width: 53px
                                max-height: 58px
                                border-radius: 5px
                                background: 
                                    position: center
                                    size: cover
                                    repeat: no-repeat
                            .description
                                @include flex(1 1 60%)
                                @include flexbox()
                                @include justify-content(space-between)
                                @include flex-direction(column)
                                @include flex-wrap(wrap)
                                margin-left: 15px
                                min-height: 58px
                                &.notifications
                                    @include flex(1 1 100%)
                                    margin-left: 0px!important
                                    @include flex-direction(row)
                                    min-height: 5px!important
                                    .title
                                        width: 100%!important
                                        @include flex(1 1 70%)
                                        font-size: calculateRem(13px)!important
                                .title
                                    font:
                                        family: $montserrat
                                        size: calculateRem(13px)
                                        weight: bold
                                        style: normal
                                        stretch: normal
                                    line-height: normal
                                    letter-spacing: normal
                                    color: $black
                                    width: 85%
                                    &.danger
                                        color: $light_red
                                .price
                                    font:
                                        family: Montserrat
                                        size: calculateRem(15px)
                                        weight: bold
                                        style: normal
                                        stretch: normal
                                    line-height: 1.5
                                    letter-spacing: normal
                                    text-align: right
                                    color: $light_purple
                            .description-nunito
                                margin-top: 5px
                                font:
                                    family: $titillium
                                    size: calculateRem(14px)
                                color: #6C6C6C
                                letter-spacing: 0
                            a
                                display: flex
        .button-buy
            width: 100%
            height: 90px
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
            .tr-secondary
                width: 75%
                height: 55px
                @include flexbox()
                @include justify-content(center)
    .add-notifications
        .icon-card
            display: block
            margin: auto
            width: 18px
            height: 18px
            background: 
                image: url('../images/icons/notifications.svg')!important
                image:url('')
                position: center
                size: contain
                repeat: no-repeat
    .add-card,
    .add-notifications
        @include flex(1 1 3%)
        height: 100%
        width: 100%
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include flex-wrap(wrap)
        position: relative
        .cart
            @include flexbox()
            @include justify-content(flex-start)
            @include align-items(center)
            @include flex-wrap(wrap)
            text-decoration: none
            @include transition(all .1s ease-in-out)
            height: 100%
            width: 100%
        .icon-card
            display: block
            width: 18px
            height: 18px
            margin: auto
            background: 
                image: url('../images/header/card.svg')
                position: center
                size: contain
                repeat: no-repeat
    .login
        @include flex(1 1 16%)
        width: 100%
        height: 100%
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        z-index: 1
        &.logon
            .dropdown-item
                padding: 0!important
                @include flexbox()
                @include justify-content(flex-start)
                margin-left: 15px
                font:
                    size: calculateRem(14px)!important
        .btn-group
            .dropdown-toggle
                @include flexbox()
                @include justify-content(flex-start)
                @include align-items(center)
                font-weight: 500
                position: relative
                padding-left: 14px
                margin: 0 auto
                &.login-true
                    background-color: transparent
                    @include box-shadow(0px 0px 0px 2px $light_purple)
                    &.show
                        @include box-shadow(0 10px 20px 0 rgba($black, 0.00), inset 0 -2px 0 0 rgba($black, 0.20))
                        background-color: lighten($light_purple, 5%)
                        border-bottom-left-radius: 0px
                        border-bottom-right-radius: 0px
                        @include transition(all .2s ease-in-out)
                &.show
                    @include box-shadow(0 10px 20px 0 rgba($black, 0.00), inset 0 -2px 0 0 rgba($black, 0.20))
                    background-color: lighten($light_purple, 5%)
                    border-bottom-left-radius: 0px
                    border-bottom-right-radius: 0px
                    @include transition(all .2s ease-in-out)
                    + .dropdown-menu
                        // z-index: 100
                        opacity: 1!important
                        pointer-events: all
                        margin-top: -5px
                &:after
                    content: ''!important
                    position: absolute
                    top: 10px
                    right: 15px
                    display: block
                    width: 14px
                    border: none!important
                    height: 16px
                    margin-left: 10px
                    background: 
                        image: url('../images/header/login.svg')!important
                        position: center center
                        repeat: no-repeat
                        size: contain
            .dropdown-menu
                @include transition(all .2s ease-in-out)
                opacity: 0
                left: 0
                pointer-events: none
                margin-top: -20px
                width: 160px
                z-index: -1
                display: block
                @include box-shadow(0 10px 20px 0 rgba($black, 0.20))
                border: none
                .dropdown-item
                    font:
                        size: calculateRem($six)
                        family: $montserrat
                        weight: 400
                    color: $bg_menu
                    &:active,
                    &:focus,
                    &:hover
                        color: $light_purple
                        background-color: transparent!important
                    &.exit
                        height: 80px
                        @include flexbox()
                        @include align-items(flex-end)
                .dropdown-divider
                    border: 1px solid rgba($menu,.1)
    .language
        @include flex(1 1 3%)
        width: 100%
        height: 100%
        @include flexbox()
        @include justify-content(flex-end)
        @include align-items(center)
        p
            color: $menu
            margin: 0
            padding: 0
            font: 
                size: calculateRem($eight)
                family: $montserrat
                weight: 400
        .icon-lg
            width: 18px
            height: 18px
            border-radius: 50%
            background-color: $light_purple
            margin-right: 10px
            overflow: hidden
            position: relative
            img
                width: 18px
                height: 18px
                margin: 0
                padding: 0
                position: absolute
                top: 0
                left: 0
                right: 0
                margin-left: auto
                margin-right: auto

.second-header
    @extend .background-header
    background-color: transparent
    position: absolute
    top: 0
    left: 0
    z-index: 100
    .itens-menu
        .structure
            padding: 0
            margin-left: 85px
            justify-content: flex-start
            .itens
                &:before
                    bottom: -33px
                    background-color: $light_red !important
                &:hover
                    &:before
                        height: 3px
                a
                    padding: 0 15px
                    color: white !important
    .search
        justify-content: flex-end
        .input-group 
            input
                border: 1px solid $light_red !important
            &:hover 
                .tr-search
                    background-color: $light_red !important
    .add-card
        justify-content: flex-end
        a
            width: 40px
            height: 40px
    .login
        justify-content: flex-end
        .dropdown-toggle
            background: rgba(255,255,255,0.20)
            border-radius: 2px
            width: 180px
            height: 50px
            justify-content: center !important
            font-weight: 600 !important
            &:after
                display: none !important
            &:hover
                background-color: $light_red
            &.show
                background-color: $light_red !important
        .dropdown-menu
            width: 100% !important


