.card-about-home
    margin-top: -130px

.card-about
    margin-bottom: 80px
    h2
        display: block
        font-weight: 800
        font-size: calculateRem(20px)
        color: white
        letter-spacing: 0
        text-align: center
        margin-bottom: 40px
    .card-body-about
        background-color: white
        border-radius: 5px
        @include box-shadow(0 5px 20px 0 rgba(0,0,0,0.10))
        .content
            padding: 60px
            h3
                font-size: calculateRem(30px)
                color: black
                letter-spacing: 0
                text-align: left
                font-weight: 800
                margin-bottom: 60px
                span
                    display: block
                    font-weight: 300
            a
                font-weight: 700
                font-size: calculateRem(14px)
                color: $light_purple
                letter-spacing: 3px
                text-transform: uppercase
                text-decoration: underline
                @include transition(all .3s linear)
                &:hover
                    color: $light_red
        .midia
            width: 100%
            height: 325px
            iframe,
            video
                width: 100%
                height: 100%

.card-product-simple
    width: 100%
    max-width: 350px
    background: white
    border-radius: 5px
    @include box-shadow(0 5px 20px 0 rgba(0,0,0,0.10))
    .picture
        position: relative
        height: 350px
        background-color: black
        border-radius: 5px 5px 0px 0px
        overflow: hidden
        .image-link
            display: block
            width: 100%
            height: 100%
            padding: 15px
            background-repeat: no-repeat
            background-position: center
            background-size: cover
            @include transition(all .3s linear)
            &:hover
                opacity: .5
        ul
            position: absolute
            z-index: 5
            top: 15px
            left: 15px
            margin: 0
            padding: 0
            li
                list-style-type: none
                display: inline-block
                margin-right: 15px
                a
                    display: block
                    background: white
                    border-radius: 3px
                    font-weight: 700
                    font-size: calculateRem(12px)
                    color: $light_purple
                    text-transform: uppercase
                    min-width: 70px
                    text-align: center
                    padding: 6px 10px
                    @include transition(all .3s linear)
                    &:hover
                        background-color: $light_purple
                        color: white
                        text-decoration: none
    .rating
        min-height: 59px
        padding: 20px
            bottom: 15px
        > div
            display: flex
            align-items: center
        .stars
            margin: 0
            padding: 0
            li
                list-style-type: none
                display: inline-block
                margin-right: 5px
                color: #ECECEC
                &.fill
                    color: $light_yellow
        .note
            font-weight: 400
            font-size: calculateRem(14px)
            color: #B8B8B8
            margin-left: 20px
    .title
        padding: 20px
            top: 0
        h3
            margin: 0
            a
                display: block
                font-weight: 800
                font-size: calculateRem(18px)
                color: $light_purple
                letter-spacing: 0
                line-height: 1.375em
    .price
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px
        @include box-shadow(0px -1px 0px 0px $border)
        .product-class
            font-weight: 400
            font-size: calculateRem(14px)
            color: #B8B8B8
        .product-price
            font-weight: 800
            font-size: calculateRem(18px)
            color: black

#carrousel-full
    margin-bottom: 100px
    h2
        font-weight: 800
        font-size: calculateRem(30px)
        color: black
        letter-spacing: 0
        text-align: center
        display: block
        margin-bottom: 50px
    .slick-slider
        ul.slick-dots
            position: relative
            bottom: 0
            display: flex !important
            align-items: center
            justify-content: center
            margin-top: 35px
            li
                margin: 0
                margin-right: 15px
                &:last-child
                    margin-right: 0
                &.slick-active
                    button
                        @include box-shadow(0px 0px 0px 2px $footer_gray)
                button
                    position: relative
                    border-radius: 50%
                    @include box-shadow(0px 0px 0px 0px $footer_gray)
                    @include transition(all .3s linear)
                    &:before
                        position: absolute
                        top: calc(50% - 3px)
                        left: calc(50% - 3px)
                        color: transparent
                        width: 6px
                        height: 6px
                        background-color: $footer_gray
                        border-radius: 50%
                        opacity: 1 !important
        .card-product-simple
            margin: 0 auto
                bottom: 25px

#benefits
    position: relative
    padding-bottom: 100px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    &:before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $light_purple
        opacity: .8
    h2
        font-weight: 800
        font-size: calculateRem(30px)
        color: white
        letter-spacing: 0
        text-align: center
        display: block
        padding-top: 100px
        padding-bottom: 60px
    .benefit-item
        display: flex
        align-items: center
        flex-direction: column
        margin-bottom: 30px
        img
            margin-bottom: 30px
        h3
            display: block
            text-align: center
            font-weight: 800
            font-size: calculateRem(18px)
            color: $light_purple
            letter-spacing: 0
            line-height: 1.375em
            color: white
            margin-bottom: 20px
        p
            font-weight: 400
            font-size: calculateRem(16px)
            color: white
            display: block
            text-align: center
            line-height: 1.563em
            margin: 0

#eventos-date
    padding-top: 150px
    position: relative
    &:before
        content: ''
        display: block
        position: absolute
        background-color: #ECECEC
        width: 3px
        height: 99%
        top: 0
        left: 45px
    h2
        font-weight: 800
        font-size: calculateRem(30px)
        color: black
        letter-spacing: 0
        text-align: center
        display: block
        margin-bottom: 70px
    .eventos-date-item
        position: relative
        z-index: 10
        display: flex
        align-items: center
        margin-bottom: 60px
        &:last-child
            margin-bottom: 0
        .date
            display: flex
            flex-direction: column
            align-items: center
            background: white
            border-radius: 5px
            padding: 25px 0
            min-width: 90px
            margin-right: 50px
            @include box-shadow(0 5px 20px 0 rgba(0,0,0,0.10), 0px 0px 0px 1px #EFEFEF, 0px 5px 0px 0px $light_purple)
            strong
                font-weight: 800
                font-size: calculateRem(35px)
                color: black
            span
                font-size: calculateRem(18px)
                color: black
                text-transform: uppercase
        .content
            margin-right: 50px
            h3
                margin-bottom: 20px
                a
                    font-weight: 800
                    font-size: calculateRem(18px)
                    color: $light_purple
            p
                font-weight: 400
                font-size: calculateRem(16px)
                color: $menu
                line-height: 1.563em
                margin: 0
        .image
            height: 200px
            width: 100%
            max-width: 440px
            border-radius: 5px
            overflow: hidden
            a
                display: block
                width: 100%
                height: 100%
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                opacity: 1
                @include transition(all .3s linear)
                &:hover
                    opacity: .6
    .plus-item
        position: relative
        z-index: 10
        padding-top: 90px
        margin-bottom: 150px
        button
            width: 70px
            height: 70px
            background-color: $light_purple
            background-image: url('../images/plus-white.svg')
            background-repeat: no-repeat
            background-position: center
            border-radius: 50%
            margin-left: 12px
            @include transition(all .3s linear)
            @include box-shadow(0 5px 20px 0 rgba(0,0,0,0.10))
            &:hover
                cursor: pointer
                background-color: white
                background-image: url('../images/plus-purple.svg')

#contatos-area
    position: relative
    z-index: 10
    background-color: rgba(0,0,0,.04)
    h2
        font-weight: 800
        font-size: calculateRem(30px)
        color: black
        letter-spacing: 0
        text-align: center
        display: block
        padding-top: 60px
        padding-bottom: 90px
    .content
        h3
            font-size: calculateRem(30px)
            color: black
            letter-spacing: 0
            text-align: left
            font-weight: 800
            margin-bottom: 45px
            span
                display: block
                font-weight: 300
        p
            font-weight: 200
            font-size: calculaterRem(16px)
            color: #6C6C6C
            line-height: 1.563em
        img
            margin-bottom: -75px
    form
        input
            width: 100%
            background: white
            border-radius: 5px
            margin-bottom: 20px
            border: 0
            font-size: calculateRem(18px)
            color: black
            padding: 22px 15px
            @include box-shadow(0px 0px 0px 0px $light_red)
            @include transition(all .3s linear)
            &:focus
                outline: none
                @include box-shadow(0px 0px 0px 2px $light_red)
        button
            background: $light_purple
            border-radius: 2px
            font-weight: 900
            text-transform: uppercase
            font-size: calculate
            color: white
            letter-spacing: 5px
            text-align: center
            padding: 22px 30px
            width: 240px
            display: block
            text-align: left
            float: right
            background-image: url('../images/right-white.svg')
            background-size: 10px
            background-repeat: no-repeat
            background-position: calc(100% - 30px) center
            @include transition(all .3s linear)
            @include box-shadow(0 10px 20px 0 rgba(31, 31, 31, 0.2), inset 0 -2px 0 0 rgba(31, 31, 31, 0.2))
            &:hover
                background-position: calc(100% - 15px) center
                text-decoration: none
