//----------------------------------  Default Configuration ----------------------------------

body
    margin: 0
    padding:  0
    @media(min-width: 1200px)
        padding-top: 90px
    padding-top: 40px
    padding-right: 0 !important
    overflow: initial !important
    -webkit-appearance: none!important
    background-color: #fcfcfc
    font: 
        size: calculateRem($font)
        weight: normal
    color: $title_2
.basis-33
    flex-basis: 33%
    justify-content: center
.op-0
    opacity: 0
    margin-top: -4px
.z-index
    z-index: -2!important
.division
    width: 100%
    height: 1px
    opacity: 0.2
    border-radius: 1px
    background-color: $white
.container
    position: relative
    @media(min-width: 1500px)
        max-width: 1280px!important

.bg-black
    background-color: $bg_menu

.w-90
    width: 90%

.form-group
    label
        position: relative!important

.sidebar-fixed
    position: fixed!important
    top: 0px!important
    margin-top: 15px
    min-width: var(--widthnavcourse)

.sidebar-bottom
    min-width: var(--widthnavcourse)
    position: absolute
    bottom: 0

.justify-content-space-evenly
    justify-content: space-evenly !important

button,
a
    &:hover
        cursor: pointer !important

//----------------------------------  Breadcumb Style ----------------------------------

.search-results-breadcumb
    font:
        family: $montserrat
        size: calculateRem(12px)
        weight: normal
        style: normal
        stretch: normal
    line-height: normal
    letter-spacing: normal
    color: darken($title_3, 20%)

//----------------------------------  Checkbox Style ----------------------------------

input[type="checkbox"],
input[type="radio"]
    display: none
    &:checked + label:after
        max-width: 25px
        opacity: 1
        // margin-right: 90px
.checkbox
    position: relative
    display: block
    font:
        family: $montserrat
        size: calculateRem(15px)
        weight: 400
    cursor: pointer
    margin-bottom: 0px
    &:after
        font:
            size: calculateRem(16px)
        position: absolute
        top: 0
        left: 0
        right: 0
    &:before
        content: ''
        display: block
        position: absolute
        width: 20px
        height: 20px
        border-radius: 50%
        border: 1px solid rgba($black, .2)
        top: 0
        bottom: 0
        left: -25px
        margin: auto 0
    &:after
        font:
            family: 'Font Awesome 5 Free'
            size: calculateRem(18px)
            weight: 900
        content: '\f00c'
        display: inline-block
        top: -2px
        bottom: 0
        left: -22px
        margin: auto 0
        max-width: 0
        overflow: hidden
        opacity: 0.5
        color: $light_purple
        @include transition(all 0.50s)

//----------------------------------  Selected Style ----------------------------------

.selected
    width: 90%!important
    @include flexbox()
    @include flex-wrap(wrap)
    .dropdown-toggle.btn-light
        background: $white
        z-index: 0
        border: 1px solid $title_5
        box-shadow: 0 2px 0 0 rgba($black,0.02)
        min-height: 40px
        outline: none!important
        font:
            family: $montserrat
            weight: 400
            size: calculateRem(12px)
        color: $title_4
        letter-spacing: 0
        &:active,
        &:focus
            outline: none!important
        &.btn-light[aria-expanded="true"]
            &:after
                transform: rotate(-135deg)
                top: 17px
        &:after
            border: none
            position: absolute;
            border: solid $light_purple
            border-width: 0 2px 2px 0
            display: inline-block
            padding: 3px
            background-color: transparent
            width: 5px
            height: 5px
            right: 15px
            top: 15px
            transform: rotate(45deg)
            @include transition(all .3s ease)
            animation-delay: 3.5s
        .filter-option
            top: 0
            bottom: 0
            margin: auto 0 
            @include flexbox()
            @include align-items(center)
    .dropdown-menu
        @include transition(all .2s ease)
        &.show
            @include flexbox()
            @include justify-content(flex-start)
            @include align-items(flex-start)
            @include flex-basis(100%)
            @include flex-wrap(wrap)
            @include flex-direction(column)
        .inner
            width: 100%!important
            ul
                li
                    width: 100%!important
                    a
                        width: 100%!important
                        outline: none!important
                        &:active,
                        &:focus,
                        &:hover
                            background-color: transparent
                            outline: none
                        &.active
                            background-color: transparent
                            position: relative
                            color: $light_purple



//----------------------------------  Buttons Style ----------------------------------

.icon-locked-course
    width: 17px
    height: 25px
    display: block
    margin:
        left: 15px
        top: -5px
    background:
        position: center center
        size: contain
        repeat: no-repeat
        image: url('../images/icons/locked.svg')

//----------------------------------  Sucess and Error Style ----------------------------------

.sucess-question
    display: inline-block
    position: relative
    width: 15px
    height: 15px
    margin-left: 5px
    &:after
        font:
            family: 'Font Awesome 5 Free'
            size: calculateRem(18px)
            weight: 900
        content: '\f00c'
        display: inline-block
        top: -2px
        bottom: 0
        left: -22px
        overflow: hidden
        opacity: 0.5
        color: $light_green
        @include transition(all 0.50s)
.error-question
    display: inline-block
    position: relative
    width: 15px
    height: 15px
    margin-left: 5px
    &:after
        font:
            family: 'Font Awesome 5 Free'
            size: calculateRem(18px)
            weight: 900
        content: '\f00d'
        display: inline-block
        top: -2px
        bottom: 0
        left: -22px
        overflow: hidden
        opacity: 0.5
        color: $light_red
        @include transition(all 0.50s)


//----------------------------------  Buttons Style ----------------------------------

.tr-primary,
.tr-secondary,
.tr-third,
.tr-circle-primary
    width: 100%
    max-width: 220px
    height: 65px
    border-radius: 5px
    background-color: $light_purple
    outline: none!important
    @include box-shadow(0 10px 20px 0 rgba($black, 0.20), inset 0 -2px 0 0 rgba($black, 0.20))
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    @include transition(all .2s ease-in-out)
    font:
        family: $montserrat 
        size: calculateRem($eight)
        weight: bold
        style: normal
        stretch: normal
    color: $white
    &:hover,
    &:active,
    &:focus
        outline: none!important
        color: $white
        // @include box-shadow(inset 0 -90px 0 0 rgba($black, 0.2))
        @include box-shadow(0 10px 20px 0 rgba($black, 0.20),  inset 0 -90px 0 0 rgba($black, 0.20))
    &:active
        @include transform(scale(.99))
    &:focus
        box-shadow: inset 0 -90px 0 0 rgba($black, 0.20)!important

    //----------------------------------  Small ----------------------------------

    &.small
        width: 160px
        height: 40px
    &.box-shadow-none
        @include box-shadow(0 10px 20px 0 rgba($black, 0.00), inset 0 -2px 0 0 rgba($black, 0.20))


        
    //----------------------------------  Button circle ----------------------------------

.tr-circle-primary
    position: relative
    width: 67px
    height: 67px
    border-radius: 67px
    @include box-shadow(0 10px 30px 0 rgba($black, 0.2))
    &:before
        position: absolute
        top: 30px
        left: 0
        right: 0
        margin:
            left: auto
            right: auto
        content: ''
        display: block
        border: solid $white
        border-width: 0 3px 3px 0
        display: inline-block
        padding: 3px
        background-color: transparent
        width: 10px
        height: 10px
        transform: rotate(45deg)
    &:after
        position: absolute
        top: 20px
        left: 0
        right: 0
        margin:
            left: auto
            right: auto
        content: ''
        display: block
        border: solid rgba($white, .5)
        border-width: 0 3px 3px 0
        display: inline-block
        padding: 3px
        background-color: transparent
        width: 10px
        height: 10px
        transform: rotate(45deg)
    &:hover
        color: $white
        @include box-shadow(0 10px 30px 0 rgba($black, 0.2))

    //----------------------------------  Color Button ----------------------------------

.button
    width: 220px

.tr-secondary
    background-color: $light_green
.tr-third
    background-color: $light_red
.tr-link
    text-decoration: none
    font:
        size: calculateRem($seven)
        weight: 400
    text-decoration: underline
    color: $light_purple
    &:hover,
    &:active,
    &:focus
        color: darken($light_purple, 20%)
    &:active
        @include transform(scale(.99))
//----------------------------------  Text Title ----------------------------------

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6
    font:
        family: $montserrat
        size: calculateRem($one)
        weight: bold
        style: normal
        stretch: normal
    color: $white
    &.black
        color: $black
    &.size-50
        font:
            size: calculateRem(($one  / 2))
            weight: 500
    &.size-25
        font-size: calculateRem(($one  / 3))
    &.size-15
        font-size: calculateRem(($two / 1.5))
    &.red
        color: $light_red

    //----------------------------------  Text weight ----------------------------------

.title-2
    font-weight: normal
.title-3
    font:
        weight: normal
        size: calculateRem($two)
    &.size-50
        font-size: calculateRem(($two  / 2))
.title-4
    font:
        weight: normal
        size: calculateRem($three)
.title-5
    font:
        weight: 500
        size: calculateRem($five)
.title-6
    font:
        weight: bold
        size: calculateRem($seven)

    //---------------------------------- Description Options ----

.message-error
    width: 100%
    min-height: 80px
    border-radius: 5px
    padding: 15px 30px
    @include box-shadow(0px 0px 0px 2px $light_red)
    p
        font:
            family: Montserrat
            size: calculateRem(14px)
            weight: bold
            style: normal
            stretch: normal
        line-height: 1.56
        letter-spacing: normal
        text-align: justify
        color: $light_red
        margin-bottom: 0px!important


    //---------------------------------- Description Options ----

.description-1,
.description-2,
.description-2
    font:
        family: Montserrat
        size: calculateRem($six)
        weight: 300
        style: normal
        stretch: normal
    color: $title_4
    &.italic
        font-style: italic

    //---------------------------------- Description Size ----

.description-2
    font-size: calculateRem($seven)
.description-3
    font-size: calculateRem($eight)
    font-weight: 300
    color: $title_3

    //---------------------------------- Badge Options ----

.badge
    position: absolute
    font:
        size: calculateRem($nine)
        family: $montserrat
        weight: 300
        style: normal
        stretch: normal
    min-height: 20px
    border-radius: 3px
    margin: 0 auto
    padding: 6px
    bottom: -10px
    left: 19px
    &.badge-red
        background-color: $light_red
        color: $white
    &.badge-green
        background-color: $light_green
        color: $white
    &.badge-purple
        background-color: $light_purple
        color: $white
    &.badge-yellow
        background-color: $light_yellow
        color: $white

    //---------------------------------- Card Option ----

.tr-card,
.tr-card-term-use,
.tr-card-sucess,
.tr-card-wait-list
    min:
        height: 350px
    width: 300px
    @media screen and ( max-width: 400px )
        width: 255px
    // max-width: $max_width_card
    border-radius: 5px
    overflow: hidden
    background-color: $white
    position: relative
    margin: 0 auto
    margin-bottom: 40px
    @include flexbox()
    @include justify-content(flex-start)
    @include  flex-direction(column)
    @include flex-wrap(wrap)
    @include transition(all .3s ease-in-out)
    .image-full
        width: 100%
        height: 320px
        position: relative
        @include transition(all .2s ease-in-out)
        .file-image
            width: 100%
            height: 100%
            display: block
            background:
                color: $darker_gray
                size: cover
                repeat: no-repeat
                position: center center
    .name
        padding: 19px
            top: 20px
        max-width: $max_width_card
        height: 80px
        border:  2px solid $border
            top: none
        @include transition(all .2s ease-in-out)
    .footer
        @include flexbox()
        @include justify-content(space-between)
        @include align-items(center)
        @include flex-wrap(wrap)
        @include flex-basis(20%)
        @include transition(all .2s ease-in-out)
        border:  2px solid $border
            top: none
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        padding: 20px
        max-height: 50px
        .inscriptions-closed
            .title-6
                font:
                    size: calculateRem(14px)
                    weight: normal
                line-height: 1.25
                letter-spacing: normal
                color: $light_red
        .price-desc
            // @include flex(1 1 25%)
        .old-price
            margin:
                right: 10px
                top: -2px
        .price
            .title-5
                font:
                    weight: bold
                    size: calculateRem($six)
    &:hover
        @include transform(scale(1.03))
        @include box-shadow(0 10px 20px 0 rgba($black, .20), inset 0 1px 2px -1px rgba($black, .2))
        .image-full,
        .name,
        .footer
            opacity: 0
        .hover-card
            opacity: 1
            z-index: 0
            pointer-events: all

    //---------------------------------- card hover ----

    .hover-card
        opacity: 0
        z-index: -10
        pointer-events: none
        position: absolute
        height: 100%
        width: 100%
        @include transition(all .3s ease-in-out)
        @include flexbox()
        @include justify-content(space-around)
        @include flex-direction(column)
        @include align-items(center)
        @include flex-basis(25%)
        .header
            @include flex(1 1 30%)
            @include flexbox()
            @include align-items(normal)
            @include justify-content(flex-start)
            @include flex-direction(column)
            position: relative
            width: 95%!important
            padding: 
                top: 40px
                left: 25px
                right: 25px
            width: 85%
            .title-5 
                font:
                    size: calculateRem($six)
                    weight: 500
                min-height: 55px
                @include flexbox()
                @include align-items(center)
            .badge
                height: 20px
                top: 20px
                bottom: auto
                left: 25px
                font:
                    size: calculateRem($nine)
            .information
                @include flexbox()
                @include flex(1 1 10%)
                @include justify-content(space-between)
                .description-3
                    margin-left: 6px
                    font:
                        weight: regular
                    color: $title_4
                    @media screen and ( max-width: 400px )
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-items: center
                    .MuiSvgIcon-root
                        margin-right: 3px 
                    &:first-child
                        margin-left: 0px
                .hours
                    position: relative
                    &:before
                        content: ''
                        display: block
                        background:
                            image: url('../images/icons/hours.png')
                            position: center center
                            size: contain
                            repeat: no-repeat
                        width: 15px
                        height: 15px
                        position: absolute
                        top: 0
                        left: -18px
                .modules
                    position: relative
                    &:before
                        content: ''
                        display: block
                        background:
                            image: url('../images/icons/modules.png')
                            position: center center
                            size: contain
                            repeat: no-repeat
                        width: 15px
                        height: 15px
                        position: absolute
                        top: 0
                        left: -18px
                .difficulty
                    position: relative
                    &:before
                        content: ''
                        display: block
                        background:
                            image: url('../images/icons/difficulty.png')
                            position: center center
                            size: contain
                            repeat: no-repeat
                        width: 15px
                        height: 15px
                        position: absolute
                        top: 0
                        left: -18px
        .content
            @include flex(1 1 30%)
            @include flexbox()
            @include justify-content(flex-start)
            @include flex-wrap(wrap)
            width: 96%!important
            padding: 
                left: 25px
                right: 25px
        .buttons
            width: 95%!important
            @include flex(1 1 19%)
            @include flexbox()
            @include justify-content(center)
            @include flex-wrap(wrap)
            padding: 
                left: 25px
                right: 25px
            div
                width: 100%
                .btn
                    width: 100%
                    height: 48px
                    margin: 0 auto
            .add-card
                padding-bottom: 10px
            .plus
                padding-bottom: 20px
        .footer-active
            @include flex(1 1 22%)
            @include flexbox()
            @include justify-content(space-between)
            @include align-items(center)
            @include flex-wrap(wrap)
            @include flex-basis(20%)
            @include transition(all .2s ease-in-out)
            border-top:  2px solid $border
                top: none
            border-bottom-left-radius: 5px
            border-bottom-right-radius: 5px
            // padding: 20px
            padding-top: 20px
            max-height: 50px
            width: 100%!important
            .price-desc
                // @include flex(1 1 25%)
                padding-left: 25px
            .old-price
                margin:
                    right: 10px
                    top: -2px
                .description-2
                    font-size: calculateRem($nine)
            .price
                padding-right: 25px
                .title-5
                    font:
                        size: calculateRem($seven)
                        weight: bold
            .inscriptions-closed
                padding-left: 30px
                .title-6
                    color: $light_red
        
.tr-card-product
    position: relative
    width: 270px
    height: 400px
    border-radius: 5px
    background-color: $white
    @include box-shadow(0px 0px 0px 1px rgba($black, .1))
    @include flexbox()
    @include justify-content(space-between)
    @include align-items(center)
    @include flex-wrap(wrap)
    @include flex-direction(column)
    .tr-addFavorite
        position: absolute
        font-size: calculateRem(20px)
        color: $title_3
        left: 20px
        top: 20px
        @include transition(all .2s ease-in-out)
        &:hover,
        &:focus,
        &:active,
        &.add
            color: red
            i
                font-weight: 800!important
        i
            @include transition(all .2s ease-in-out)
    .product-desc
        position: absolute
        width: 45px
        height: 50px
        right: 20px
        top: 0
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include box-shadow(0 4px 5px 0 #00000021, inset 0 2px 0 0 #ffffff33, inset 0 -2px 0 0 #00000019)
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px
        &.new
            background-color: $light_red
            b
                padding-top: 10px
        &.discount
            background-color: $light_purple
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
            @include flex-direction(column)
            font:
                family: $montserrat
                size: calculateRem(11px)
                weight: 300
                style: normal
                stretch: normal
            line-height: 1.1
            letter-spacing: normal
            text-align: center
            color: $white
            b
                font-size: calculateRem(11px)
        b
            font:
                family: $montserrat
                size: calculateRem(10px)
                weight: 800
                style: normal
                stretch: normal
            line-height: 1.1
            letter-spacing: normal
            text-align: center
            color: $white
    .description
        width: 100%
        height: 100px
        padding: 15px
        border-bottom: 1px solid rgba($black, .1)
        @include flexbox()
        @include align-items(center)
    .price
        width: 100%
        height: 60px
        padding: 20px
        @include flexbox()
        @include justify-content(flex-end)
        @include align-items(center)
        del
            opacity: 0.6
            font:
                family: $montserrat
                size: calculateRem(12px)
                weight: normal
                style: normal
                stretch: normal
            line-height: 1.85
            letter-spacing: normal
            margin-right: 10px
        ins
            text-decoration: none
            font:
                family: $montserrat
                size: calculateRem(20px)
                weight: bold
                style: normal
                stretch: normal
            line-height: 1.09
            letter-spacing: normal

    .image
        width: 100%
        height: 100%
        max-height: 240px
        border-bottom: 1px solid rgba($black, .1)
        a
            width: 100%
            height: 100%
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
        .image-full
            display: block
            width: 70%
            height: 100%
            max-height: 160px
            background: 
                size: contain
                repeat: no-repeat
                position: center 


    //---------------------------------- terms use ----------------------------------

.tr-card-term-use
    @include box-shadow(0 10px 20px 0 rgba($black, .20), inset 0 1px 2px -1px rgba($black, .2))
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    @include flex-direction(column)
    &:hover
        @include transform(scale(1))
    .image-terms
        @include flex(1 1 45%)
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include flex-wrap(wrap)
        width: 95%
        padding: 0 
            bottom: 30px
        .file-image
            display: block
            margin: 0 auto
            padding: 0
            background:
                image: url('../images/cards/terms.svg')
                position: center center
                size: contain
                repeat: no-repeat
            width: 100%
            height: 100px
            margin: 
                top: 40px
                bottom: 10px
    .readme
        @include flex(1 1 30%)
        @include flexbox()
        @include justify-content(flex-start)
        @include align-items(flex-start)
        @include flex-wrap(wrap)
        width: 92%
        padding: 
            left: 12px
            right: 10px
        .description-2
            line-height: calculateRem(24px)
    .read-term
        @include flex(1 1 25%)
        @include flexbox()
        @include justify-content(center)
        @include align-items(flex-start)
        @include flex-wrap(wrap)
        width: 92%
        .buttons
            width: 100%
            .btn
                width: 92%
                height: 50px
                margin: 0 auto

    //----------------------------------  Input Label ----------------------------------

.input-error
    .form-group
        input
            border-color: $light_red
            padding-top: 15px
        span
            color: $light_red
            font-size: calculateRem(12px)

.form-group,
.input-group,
.form-check
    width: 100%
    position: relative
    label
        position: absolute
        @extend  .description-1
        font-weight: 400
        color: #AFAFAF
        top: 18px
        left: 15px
        pointer-events: none
        @include transition(all .3s ease)
        &.focused
            top: 5px
            font-size: 11px    
    .error
        display: block
        opacity: 0
        position: absolute
        right: 5px
        top: 4px
        @include transition(all .2s ease-in-out)
    .form-control,
    input
        outline: none
        background-color: transparent
        box-shadow: none!important
        border: 1px solid #AFAFAF
        height: 60px
        padding: 15px
            top: 25px
        border-radius: 5px
        @extend  .description-1
        font-weight: 400
        color: #1F1F1F
        &::placeholder
            color: transparent
        &:focus,
        &:active
            border: 1px solid $light_purple
        &:invalid
            border: 1px solid $light_red!important
            color: $light_red
            + .error
                    opacity: 1
                    font:
                        size: calculateRem(10px)
                        weight: 400
                    letter-spacing: calculateRem(1px)
                    color: lighten($light_red, 20%)


    //----------------------------------  Card Sucess ----------------------------------

.tr-card-sucess
    @include box-shadow(0 10px 20px 0 rgba($black, .20), inset 0 1px 2px -1px rgba($black, .2))
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    @include flex-direction(column)
    padding: 0
        top: 15px
        bottom: 15px
    &:hover
        @include transform(scale(1))
    .image-sucess
        @include flex(1 1 45%)
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include flex-wrap(wrap)
        width: 95%
        padding: 0 
            bottom: 30px
        .file-image
            display: block
            margin: 0 auto
            padding: 0
            background:
                image: url('../images/cards/sucess.svg')
                position: center center
                size: contain
                repeat: no-repeat
            width: 100%
            height: 100px
            margin: 
                top: 20px
                bottom: 30px
    .wait-list
        @include flex(1 1 30%)
        @include flexbox()
        @include justify-content(flex-start)
        @include align-items(flex-start)
        @include flex-wrap(wrap)
        width: 83%
        padding: 
            left: 12px
            right: 10px
        margin-top: 10px
        .description-2
            line-height: calculateRem(24px)
            text-align: center
            font:
                weight: 600
                size: calculateRem($seven )
            color: $black
    .closed
        @include flex(1 1 15%)
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include flex-wrap(wrap)
        width: 92%
        .buttons
            width: 70%
            .tr-primary
                width: 70%
                height: 50px!important
                margin: 0 auto
                font:
                    size: calculateRem($six)
                @include box-shadow(0 10px 20px 0 rgba($black, 0.20), inset 0 -2px 0 0 rgba($black, 0.20))

    //----------------------------------  Card Wait List ----------------------------------       

.tr-card-wait-list
    @include box-shadow(0 10px 20px 0 rgba($black, .20), inset 0 1px 2px -1px rgba($black, .2))
    @include flexbox()
    @include justify-content(flex-start)
    @include align-items(center)
    @include flex-direction(column)
    &:hover
        @include transform(scale(1))
    padding: 40px
        left: 30px
        right: 30px
    .wait-description
        margin-bottom: 40px
        .title-1
            text-align: center
    .form-wait
        width: 100%

    //----------------------------------  Card Flat ----------------------------------

.tr-card-event-flat
    @include flexbox()
    @include justify-content(space-between)
    @include align-items(center)
    @include flex-basis(33%)
    @include flex-wrap(wrap)
    height: 200px
    // background: red
    border-bottom: 2px solid rgba(black,0.1)
    padding: 
        bottom: 25px
    &.border-none
        border: none!important
    .date
        @include flex(1 1 20%)
        @include flexbox()
        @include align-items(center)
        @include justify-content(center)
        @include flex-direction(column)
        @include flex-wrap(wrap)
        width: 100%
        height: 100%
        .date-number
            max-width: 100px
            text-align: center
            p
                font:
                    family: $montserrat
                    size: calculateRem($one)
                    weight: 500
                    style: normal
                    stretch: normal
                line-height: 0.58
                letter-spacing: normal
                color: $light_purple
                margin: 0
                    bottom: 5px
                padding: 0
            b
                font:
                    family: $montserrat
                    size: calculateRem($five)
                    weight: 600
                    style: normal
                    stretch: normal
                line-height: 1.25
                letter-spacing: normal
                color: $black
                text-transform: uppercase
    .information
        @include flex(1 1 50%)
        @include flexbox()
        @include align-items(flex-start)
        @include justify-content(flex-start)
        @include flex-direction(column)
        @include flex-wrap(wrap)
        width: 100%
        height: 100%
        padding: 10px
            top: 15px
        .content
            @include flexbox()
            @include align-items(flex-start)
            @include flex-direction(column)
            @include justify-content(flex-start)
            @include flex-wrap(unset)
            .title-2
                font:
                    size: calculateRem(22px)
                    weight: 400
                text-decoration: none
                @include transition(all .2s ease-in-out)
                &:hover
                    color: black
            .local
                @include flexbox()
                @include align-items(flex-start)
                @include flex-direction(row)
                @include flex-wrap(wrap)
                padding: 
                    left: 20px
                .hours
                    font: 
                        family: $montserrat
                        size: calculateRem(13px)
                        weight: 500
                    margin-right: 40px
                    position: relative
                    padding: 
                        left: 5px
                    &:before
                        content: ''
                        display: block
                        background:
                            image: url('../images/icons/hours.png')
                            position: center center
                            size: contain
                            repeat: no-repeat
                        width: 15px
                        height: 15px
                        position: absolute
                        top: 2px
                        left: -18px
                .type-event
                    font: 
                        family: $montserrat
                        size: calculateRem(13px)
                        weight: 500
                    padding: 
                        left: 5px
                    &.local
                        position: relative
                        &:before
                            content: ''
                            display: block
                            background:
                                image: url('../images/icons/local.png')
                                position: center center
                                size: contain
                                repeat: no-repeat
                            width: 15px
                            height: 15px
                            position: absolute
                            top: 2px
                            left: -18px
                    &.online
                        position: relative
                        &:before
                            content: ''
                            display: block
                            background:
                                image: url('../images/icons/onlin.png')
                                position: center center
                                size: contain
                                repeat: no-repeat
                            width: 15px
                            height: 15px
                            position: absolute
                            top: 2px
                            left: -18px
            .description
                margin-top: 20px
                max-width: 400px
                height: 100%
                .description-2
                    font:
                        family: $montserrat
                        size: calculateRem($seven)
                        weight: 300
                        style: normal
                        stretch: normal
                    line-height: 1.56
                    letter-spacing: normal           
    .image-full
        @include flex(1 1 30%)
        @include flexbox()
        @include align-items(center)
        @include flex-direction(column)
        @include flex-wrap(wrap)
        width: 100%
        height: 90%
        border-radius: 5px
        background-color: $title_3
        overflow: hidden



    //----------------------------------  Form Default ----------------------------------

.progress
    overflow: inherit
    height: 5px
    border-radius: 5px
    position: relative
    background-color: #6c6c6c
    .progress-bar
        border-radius: 5px
        background-color: $light_purple
    small
        position: absolute
        bottom: -20px
        left: 0
        right: 0
        margin: 0 auto
        font:
            family: $montserrat
            size: calculateRem(11px)
            weight: 400
            style: normal
            stretch: normal
        line-height: normal
        letter-spacing: normal
        color: $white

    //----------------------------------  Form Default ----------------------------------

.tr-form
    width: 100%
    .label-animate
        position: relative
        label
            position: absolute!important
            @extend  .description-1
            font-weight: 400
            color: $darker_gray
            top: 18px
            left: 15px
            pointer-events: none
            @include transition(all .3s ease)
            &.focused
                top: 5px
                font-size: 11px
    .tr-primary
        width: 100%
        margin-top: 50px
        height: 50px
    .form-group,
    .input-group,
    .form-check
        width: 100%
        position: relative
        .error
            display: block
            opacity: 0
            position: absolute
            right: 5px
            top: 4px
            @include transition(all .2s ease-in-out)
        .form-control,
        input
            outline: none
            box-shadow: none!important
            border: 1px solid $title_4
            height: 60px
            padding: 15px
                // top: 25px
            @extend  .description-1
            font-weight: 400
            &::placeholder
                color: transparent
            &:focus,
            &:active,
            &:not(:placeholder-shown)
                border: 1px solid $light_purple
                color: $light_purple
            &:invalid
                border: 1px solid $light_red!important
                color: $light_red
                + .error
                        opacity: 1
                        font:
                            size: calculateRem(10px)
                            weight: 400
                        letter-spacing: calculateRem(1px)
                        color: lighten($light_red, 20%)



    //----------------------------------  Font Size Default ----------------------------------

.ff-10
    font:
        family: $montserrat!important
        size: calculateRem(10px)!important
        weight: 600
.ff-12
    font:
        family: $montserrat!important
        size: calculateRem(12px)!important
        weight: 600
.ff-14
    font:
        family: $montserrat!important
        size: calculateRem(14px)!important
        weight: 600
.ff-16
    font:
        family: $montserrat!important
        size: calculateRem(16px)!important
        weight: 600
.ff-18
    font:
        family: $montserrat!important
        size: calculateRem(18px)!important
        weight: 600
.ff-20
    font:
        family: $montserrat!important
        size: calculateRem(20px)!important
        weight: 600
.ff-22
    font:
        family: $montserrat!important
        size: calculateRem(22px)!important
        weight: 600
.ff-24
    font:
        family: $montserrat!important
        size: calculateRem(24px)!important
        weight: 600
.ff-26
    font:
        family: $montserrat!important
        size: calculateRem(26px)!important
        weight: 600


    //----------------------------------  Font Weight Default ----------------------------------

.wh-100
    font-weight: 100!important
.wh-200
    font-weight: 200!important
.wh-300
    font-weight: 300!important
.wh-400
    font-weight: 400!important
.wh-500
    font-weight: 500!important
.wh-600
    font-weight: 600!important
.wh-700
    font-weight: 700!important
.wh-800
    font-weight: 800!important
.wh-900
    font-weight: 900!important


    //----------------------------------  List ----------------------------------

.sidebar-style
	ul
		margin: 0
		padding: 0
		background: white
		border-radius: 5px
		overflow: hidden
		@include box-shadow(0px 0px 0px 1px $border)
		li
			display: block
			width: 100%
			a
				display: block
				font-weight: 700
				font-size: calculateRem(14px)
				color: $black
				padding: 20px 30px
				background-color: transparent
				@include box-shadow(0px 1px 0px 0px $border)
				@include transition(all .3s linear)
				span.count-alert
					font-weight: 400
				&:hover
					background-color: $light_purple
					color: white
					text-decoration: none
			&.active
				a
					background-color: $light_purple
					color: white
					text-decoration: none
			&.logout-sidebar
				margin-top: 35px
				a
					font-weight: 400
					font-style: italic
					&:hover
						background-color: transparent
						color: $light_red
						text-decoration: underline

    //----------------------------------  select multinivel ----------------------------------

.tr-multiSelect
    width: 200px
    height: 40px
    background: $white
    border: 1px solid $title_5
    box-shadow: 0 2px 0 0 rgba($black,0.02)
    min-height: 40px
    outline: none!important
    @include flexbox()
    @include justify-content(flex-start)
    @include align-items(center)
    padding: 10px
    cursor: pointer
    position: relative
    border-radius: 5px
    font:
        family: $montserrat
        weight: 400
        size: calculateRem(12px)
    color: $title_4
    letter-spacing: 0
    &:active,
    &:focus
        outline: none!important
    &:after
        content: ''
        position: absolute
        border: solid $light_purple
        border-width: 0 2px 2px 0
        display: block
        padding: 3px
        background-color: transparent
        width: 5px
        height: 5px
        right: 15px
        top: 16px
        // transform: rotate(-135deg)
        transform: rotate(45deg)
        @include transition(all .3s ease)
        animation-delay: 3.5s
    &.open 
        z-index: 1000
        &:after
            top: 15px
            // transform: rotate(45deg)
            transform: rotate(-135deg)
        > ul
            opacity: 1
            pointer-events: all
            transform: translateY(0)
    > ul
        margin: 0
        padding: 0
        list-style-type: none
        width: 100%
        top: 40px
        left: 0
        text-align: left
        position: absolute
        opacity: 0
        pointer-events: none
        border-radius: 5px
        border: 1px solid $title_5
        background-color: $white
        transform: translateY(-60px)
        @include transition(all .3s ease)
        li
            list-style-type: none
            display: block
            width: 100%
            padding: 10px 25px
            clear: both
            text-align: left
            font-weight: 500
            font-size: calculateRem(13px)
            color: #212529
            text-align: inherit
            cursor: pointer
            white-space: nowrap
            background-color: transparent
            border: 0
            border-bottom: 1px solid rgba($black,.1)
            &:last-child()
                border: none!important
            &:hover
                background-color: rgba($black,.05)
                @include box-shadow(inset 0px 0px 7px 0px rgba($black, .02))
            &.subcategory
                position: relative
                &:after
                    content: ''
                    position: absolute
                    border: solid $title_5
                    border-width: 0 2px 2px 0
                    display: block
                    padding: 3px
                    background-color: transparent
                    width: 5px
                    height: 5px
                    right: 15px
                    top: 15px
                    transform: rotate(-45deg)
                    @include transition(all .3s ease)
                    animation-delay: 3.5s
                &:hover,
                &:focus,
                    background-color: rgba($black,.05)
                    &:after
                        border-color: $light_purple
                    ul
                        opacity: 1
                        transform: translateX(0)
                        pointer-events: all
                    
                ul
                    margin: 0
                    padding: 0
                    position: absolute
                    list-style-type: none
                    top: 0
                    right: -170px
                    pointer-events: none
                    opacity: 0
                    border-radius: 5px
                    border: 1px solid $title_5
                    background-color: $white
                    @include transition(all .3s ease)
                    text-align: left
                    transform: translateX(-20px)
                    // animation-delay: 3.5s
                    li
                        list-style-type: none
                        display: block
                        width: 100%
                        text-align: left
                        padding: 10px 25px
                        clear: both
                        font-weight: 500
                        font-size: calculateRem(13px)
                        color: #212529
                        text-align: inherit
                        white-space: nowrap
                        background-color: transparent
                        border: 0
                        border-bottom: 1px solid rgba($black,.1)
                        &:hover
                            background-color: rgba($black,.05)
                            @include box-shadow(inset 0px 0px 7px 0px rgba($black, .02))
                        &:last-child()
                            border: none!important
a
    &:hover
        text-decoration: none
        color: none
a
    color: none


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active 
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out
    -webkit-transition-delay: 9999s 
    

.slick-prev:before, .slick-next:before 
    color: black

.slick-prev, .slick-next
    top: 39%

.linkButton
    color: #ffffff
    &:hover
        outline: none
        box-shadow: none
        color: #ffffff
button:focus
    outline: none