.tr-newsletter
    width: 100%
    height: 200px
    &.green
        background-color: $light_green
    &.purple
        background-color: $light_purple
        .tr-primary
            max-width: 210px
            height: 48px
            background-color: $light_green
            font:
                size: calculateRem($seven)
                weight: 600
    &.yellow
        background-color: $light_yellow
    .the-news
        @include flexbox()
        @include justify-content(space-between)
        @include align-items(center)
        @include flex-basis(50%)
        @include flex-wrap(wrap)
        height: 100%
        .content
            .title-2
                font:
                    weight: 200
                    family: $montserrat
                    size: calculateRem(22px)
                line-height: 1.3
                b
                    font:
                        weight: 600
        .form-newsletter
            .tr-primary
                max-width: 210px
                height: 55px
                font:
                    size: calculateRem($seven)
                    weight: 600
            .tr-form
                width: auto!important
            .relative
                position: relative
                .form-group 
                    margin: 0
                        bottom: .5rem!important
                .error
                    display: block
                    opacity: 0
                    position: absolute
                    right: 10px
                    top: 4px
                    @include transition(all .2s ease-in-out)
                label
                    color: $white!important
                    font:
                        family: $montserrat
                        size: calculateRem($seven)
                        weight: 300
                        style: normal
                        stretch: normal
                    line-height: normal
                    &.focused
                        font-size: 9px
                input,
                select,
                    outline: none
                    box-shadow: none!important
                    border: 1px solid $white
                    background-color: transparent
                    height: 55px
                    min-width: 250px
                    @extend  .description-1
                    font:
                        family: $montserrat
                        size: calculateRem($seven)
                        weight: 300
                        style: normal
                        stretch: normal
                    line-height: normal
                    &::placeholder
                        color: $white
                        font:
                            family: $montserrat
                            size: calculateRem($seven)
                            weight: 300
                            style: normal
                            stretch: normal
                        line-height: normal
                    &:focus,
                    &:active,
                    &:not(:placeholder-shown)
                        border: 1px solid $white
                        color: $white
                    &:invalid
                        border: 1px solid $white!important
                        color: $white
                        + .error
                                opacity: 1
                                font:
                                    size: calculateRem(10px)
                                    weight: 400
                                letter-spacing: calculateRem(1px)
                                color: $white
                .dropdown
                    width: 100%!important
                    max-width: 220px
                    .selectpicker
                        pointer-events: none
                        ~.btn
                            outline: none!important
                            box-shadow: none!important
                            border: 1px solid $white
                            background-color: transparent
                            height: 55px
                            min-width: 250px
                            margin-right: 20px
                            .filter-option
                                @include flexbox()
                                @include justify-content(flex-start)
                                @include align-items(center)
                                .filter-option-inner-inner
                                    @extend  .description-1
                                    font:
                                        family: $montserrat
                                        size: calculateRem($seven)
                                        weight: 300
                                        style: normal
                                        stretch: normal
                                    line-height: normal
                                    color: $white
                            ~.dropdown-menu
                                width: 100%
                                .selected
                                    width: 100%!important
                                    outline: none!important
                                    &:hover
                                    &:active
                                        background-color: $light_purple
                                    &.active
                                        background-color: $light_purple

div#newsletter-purple
    position: relative
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    padding: 100px 0
    &:before
        content: ''
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: $light_purple
        opacity: .8
    h4
        font-size: calculateRem(30px)
        color: white
        letter-spacing: 0
        text-align: left
        font-weight: 700
        span
            display: block
            font-weight: 200
    form
        display: flex
        justify-content: flex-end
        input
            width: 100%
            max-width: 420px
            background: white
            border-radius: 5px
            border: 0
            font-size: calculateRem(18px)
            color: black
            padding: 20px 15px
            @include box-shadow(0px 0px 0px 0px $light_red)
            @include transition(all .3s linear)
            &:focus
                outline: none
                @include box-shadow(0px 0px 0px 2px $light_red)
        button
            margin-left: 15px
            background-color: $light_red
            border-radius: 3px
            border: 0
            width: 70px
            height: 70px
            background-image: url('../images/right-white.svg')
            background-repeat: no-repeat
            background-position: center