.tr-pagination
    .content
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        width: 100%
        height: 100%
        .pagination
            margin: 0
            padding: 0
            .page-item
                position: relative
                .page-link
                    background-color: transparent
                    border: none
                    box-shadow: none
                    margin-top: 5px
                    font:
                        family: $montserrat
                        size: calculateRem($six)
                        weight: bold
                        style: normal
                        stretch: normal
                    line-height: normal
                    letter-spacing: normal
                    color: $black
                    position: relative
                &.active
                    color: $black
                    .page-link
                        &:before
                            content: ''
                            display: block
                            position: absolute
                            width: 70%
                            height: 4px
                            bottom: 0
                            left: 0
                            right: 0
                            margin: 0 auto
                            background-color: $light_purple
            .previous
                .page-link
                    width: 40px
                    height: 40px
                    border-radius: 67px
                    box-shadow: 0 10px 20px 0 rgba($black, 0.2)
                    background-color: $light_purple
                    margin-right: 40px
                    margin-top: 0px
                    &:before
                        cursor: pointer
                        position: absolute
                        top: 16px
                        left: 2px
                        right: 0px
                        margin-left: auto
                        margin-right: auto
                        content: ''
                        border: solid $white
                        border-width: 0 3px 3px 0
                        display: inline-block
                        padding: 3px
                        background-color: transparent
                        width: 8px
                        height: 8px
                        transform: rotate(131deg)
            .next
                .page-link
                    width: 40px
                    height: 40px
                    border-radius: 67px
                    box-shadow: 0 10px 20px 0 rgba($black, 0.2)
                    background-color: $light_purple
                    margin-top: 0px
                    margin-left: 40px
                    position: relative
                    &:before
                        cursor: pointer
                        position: absolute
                        top: 16px
                        left: 0
                        right: 3px
                        margin-left: auto
                        margin-right: auto
                        content: ''
                        border: solid $white
                        border-width: 0 3px 3px 0
                        display: inline-block
                        padding: 3px
                        background-color: transparent
                        width: 8px
                        height: 8px
                        transform: rotate(-45deg)