.tr-header-searchResults
    width: 100%
    height: 250px
    background-color: $black
    position: relative
    margin-bottom: 10px
    &:before
        position: absolute
        content: ''
        bottom: -8px
        left: 0
        display: block
        width: 100%
        height: 8px
        background-color: rgba($black, 0.1)
    .tr-circle-primary
        width: 60px
        height: 60px
        margin-right: 40px
        &:after
            display: none
        &:before
            @include transform(rotate(135deg))
            top: 0
            bottom: 0
            margin: auto
            left: 0
            right: -3px
    .content
        width: 100%
        height: 100%
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        .tr-flex-center
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
            @include flex-direction(column)
            width: 100%
            height: 100%
            text-align: center
            .title-2
                margin-bottom: 15px
            .label-animate
                margin: 0
                padding: 0
                .search
                    position: absolute
                    right: 0
                    top: 0
                    height: 100%
                    width: 70px
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                    background-color: transparent
                    outline: none
                    border: none
                    pointer-events: all
                    cursor: pointer
                    z-index: 2
                    &:active,
                    &:focus,
                    &:hover
                        outline: none   
                        box-shadow: none
                    &:before
                        content: ''
                        display: block
                        pointer-events: all
                        background-size: contain
                        background-image: url(../images/header/search.svg)
                        background-position: center center
                        background-repeat: no-repeat
                        width: 20px
                        height: 20px

.tr-card-searchResults
    margin-top: 40px
    .cards
        .content
            width: 90%
            margin: auto
            margin-top: 40px
            margin-bottom: 80px
            .item
                width: 100%
                @include flexbox()
                @include justify-content(flex-start)
                @include align-items(center)
                @include flex-wrap(wrap)
                position: relative
                padding: 
                    top: 20px
                    bottom: 35px
                &:before
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 1px
                    background-color: rgba($black,.1)
                &:nth-child(1)
                    &:before
                        display: none
                .image
                    width: 80px
                    height: 80px
                    border-radius: 3px
                    overflow: hidden
                    margin-right: 30px
                    .image-full
                        display: block
                        width: 100%
                        height: 100%
                        background: 
                            color: #d8d8d8
                            size: cover
                            position: center
                            repeat: no-repeat
                .description
                    .description-3
                        font:
                            family: $montserrat
                            size: calculateRem(13px)
                            weight: 300
                            style: normal
                            stretch: normal
                        line-height: 1.43
                        letter-spacing: normal