.tr-about-home
    margin-top: 100px
    width: 100%
    background-color: $black
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    @include flex-wrap(wrap)
    .about
        width: 100%
        text-align: center
        padding:
            top: 40px
        .video-about
            width: 100%
            height: 45%
            max-height: 350px
            margin-top: 50px
            @include flexbox()
            @include justify-content(space-between)
            @include align-items(center)
            @include flex-basis(50%)
            @include flex-wrap(wrap)
            margin-bottom: 100px
            @media screen and ( max-width: 993px )
                margin: 100px 0
            .video
                @include flex(1 1 55%)
                height: 100%
                background-color:  transparent
                border-radius: 5px
                box-shadow: 0 20px 40px 0 rgba($black, 0.3);
                max-height: 300px
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                position: relative
                &.pause
                    cursor: pointer
                    &:before
                        cursor: pointer
                        content: ''
                        display: block
                        position: absolute
                        width: 200px
                        height: 100%
                        top: 10px
                        left: 0
                        right: -60px
                        margin: 0 auto
                        background:
                            image: url(../images/icons/play.svg)
                            position: center
                            repeat: no-repeat
                            size: contain
                video
                    border-radius: 5px
                    width: 100%
                    height: 100%
            .content
                @include flex(1 1 45%)
                height: 100%
                width: 100%
                height: 100%
                position: relative
                @include flexbox()
                @include justify-content(center)
                @include align-items(flex-end)
                flex-direction: column
                text-align: right
                @media screen and ( max-width: 993px )
                    display: none
                .title-1,
                .title-2
                    width: 200%
                    font:
                        family: $montserrat
                        size: calculateRem(55px)
                    pointer-events: none!important
                .title-2
                    font:
                        family: $montserrat
                        size: calculateRem(35px)
                        weight: 200
                    margin-top: -5px
                .tr-secondary
                    height: 55px
                    max-width: 200px
                    font:
                        size: calculateRem($seven)

    .testimonial
        margin-top: 50px
        width: 100%
        height: 100%
        max-height: 350px
        .testimonial-carrousel
            position: relative
            .owl-stage-outer
                width: 100%
                height: auto
                display: block
                overflow: hidden
                .owl-stage
                    @include flexbox()
            .owl-nav
                .owl-prev
                    cursor: pointer
                    position: absolute
                    color: transparent
                    top: 35%
                    left: 0
                    border: none
                    width: 58px
                    outline: none
                    height: 58px
                    border-radius: 58px
                    box-shadow: 0 10px 20px 0 rgba($black, 0.2)
                    background-color: $light_purple
                    &:before
                        cursor: pointer
                        position: absolute
                        top: 25px
                        left: 3px
                        right: 0
                        margin:
                            left: auto
                            right: auto
                        content: ''
                        display: block
                        border: solid $white
                        border-width: 0 3px 3px 0
                        display: inline-block
                        padding: 3px
                        background-color: transparent
                        width: 10px
                        height: 10px
                        transform: rotate(135deg)
                    span
                        display: none!important
                .owl-next
                    cursor: pointer
                    position: absolute
                    top: 35%
                    color: transparent
                    right: 0
                    border: none
                    width: 58px
                    outline: none
                    height: 58px
                    border-radius: 58px
                    box-shadow: 0 10px 20px 0 rgba($black, 0.2)
                    background-color: $light_purple
                    &:before
                        cursor: pointer
                        position: absolute
                        top: 25px
                        left: 0
                        right: 3px
                        margin:
                            left: auto
                            right: auto
                        content: ''
                        display: block
                        border: solid $white
                        border-width: 0 3px 3px 0
                        display: inline-block
                        padding: 3px
                        background-color: transparent
                        width: 10px
                        height: 10px
                        transform: rotate(-45deg)
                    span
                        display: none!important
            .itens
                margin: 0 auto
                margin-top: 30px
                @include flexbox()
                @include justify-content(center)
                @include align-items(center)
                .content
                    width: 65%
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                    @include flex-direction(column)
                    .description-2
                        color: $title_3
                        line-height: 1.75
                        letter-spacing: normal
                        text-align: center
                .see-more
                    margin-top: 10px
                    .tr-link
                        color: $white
                        line-height: 2.33
                        letter-spacing: 1px
                        text-transform: uppercase
                        font:
                            weight: 500
                            style: normal
                            family: $montserrat
                            size: calculateRem($nine)
                            stretch: normal
                .author
                    margin-top: 40px
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                    @include flex-direction(column)
                    .avatar
                        width: 50px
                        height: 50px
                        border-radius: 100px
                        background-color: $title_4
                        margin-bottom: 10px
                        overflow: hidden
                        img
                            width: 100%
                            height: 150%
                    .name
                        font:
                            family: $montserrat
                            size: calculateRem($seven)
                            weight: 300
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                        text-align: center
                        color: $white
                    .city
                        font:
                            family: $montserrat
                            size: calculateRem($eight)
                            weight: 300
                            style: normal
                            stretch: normal
                        line-height: 1.5
                        letter-spacing: normal
                        text-align: center
                        color: $title_3
span.fr-video
    text-align: center
    display: block
