.tr-header-sobre
    width: 100%
    height: 250px
    background-color: $black
    position: relative
    margin-bottom: 10px
    &:before
        position: absolute
        content: ''
        bottom: -8px
        left: 0
        display: block
        width: 100%
        height: 8px
        background-color: rgba($black, 0.1)
    .tr-circle-primary
        width: 60px
        height: 60px
        margin-right: 40px
        &:after
            display: none
        &:before
            @include transform(rotate(135deg))
            top: 0
            bottom: 0
            margin: auto
            left: 0
            right: -3px
    .content
        width: 100%
        height: 100%
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)

.tr-card-sobre
    margin-top: -80px
    .cards
        .sobre
            margin: 0
            padding: 0
            @include flexbox()
            @include justify-content(center)
            .image
                width: 85%
                max-height: 400px
                overflow: hidden
                border-radius: 7px
                margin-top: -2px
                @include box-shadow(0 20px 20px 0 rgba(0, 0, 0, 0.2))
                img
                    width: 100%
                    height: auto
        .content
            width: 65%
            margin: auto
            margin-top: 40px
            margin-bottom: 80px
            b
                font:
                    family: Montserrat
                    size: calculateRem(18px)
                    weight: bold
                    style: normal
                    stretch: normal
                line-height: 1.56
                letter-spacing: normal
                color: $black
            p,a
                margin:
                    top: 20px
                    bottom: 30px
                font:
                    family: Montserrat
                    size: calculateRem(14px)
                    weight: 500
                    style: normal
                    stretch: normal
                line-height: 2
                letter-spacing: normal
                color: rgba($black, .6)
            blockquote
                width: 65%
                margin: auto
                    bottom: 30px
                font:
                    family: Montserrat
                    size: calculateRem(20px)
                    weight: normal
                    style: normal
                    stretch: normal
                line-height: normal
                letter-spacing: normal
                color:  $black