.thankyou-card
    b
        color: $light_purple
    .card
        width: 100%
        min-height: 150px
        @include flexbox()
        @include justify-content(space-around)
        @include align-items(center)
        @include flex-basis(25%)
        @include flex-wrap(wrap)
        @include flex-direction(row)
        .itens
            @include flex(1 1 25%)
            width: 100%
            min-height: 100px
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
            @include flex-direction(column)
            small
                font:
                    family: $montserrat
                    size: calculateRem(13px)
                    weight: 300
                    style: normal
                    stretch: normal
                line-height: 1.25
                letter-spacing: normal
                color: $title_3
            p
                font:
                    family: $montserrat
                    size: calculateRem(16px)
                    weight: bold
                    style: normal
                    stretch: normal
                line-height: 1.5
                letter-spacing: normal
                color: $black
    .button-next
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include flex-direction(column)
        .tr-secondary
            font-size: calculateRem(16px)
        .tr-link
            margin-top: 20px
            font:
                family: $montserrat
                size: calculateRem(14px)
                weight: bold
                style: normal
                stretch: normal
            line-height: normal
            letter-spacing: normal
            color: $black
        &.new-flow
            h2
                margin-bottom: 60px

div#modal-tutorial
    .modal-dialog
        width: 90%
        max-width: 100%
        margin: 60px auto
        .modal-content
            padding: 0
            .modal-body
                height: 100%
                width: 100%
                padding: 0
                iframe
                    border: 0
                    width: 700px
                    max-width: 90%
                    height: 450px
