.tr-vantagens
    margin-top: 40px
    background-color: rgba($black,0.1)
    width: 100%    
    min-height: 80vh
    max-height: 746px
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    @include flex-wrap(wrap)
    .vantagens
        width: 100%
        height: 80%
        text-align: center
        .blocks
            margin-top: 70px
            @include flexbox()
            @include justify-content(space-between)
            @include align-items(flex-start)
            @include flex-basis(33%)
            @include flex-wrap(wrap)
            .itens
                @include flex(1 1 33%)
                max-width: 33%
                @include flexbox()
                @include justify-content(space-between)
                @include align-items(flex-start)
                @include flex-basis(50%)
                min-height: 150px
                margin-bottom: 50px
                .icon
                    max-width: 50px
                    min-width: 40px
                    max-height: 55px
                    min-height: 45px
                    img
                        height: 100%
                        width: auto
                .content
                    text-align: left
                    padding: 10px
                        left: 20px
                    .title-1
                        margin-bottom: 10px