.tr-card-pay
    width: 100%
    height: 100%
    margin: 0 auto
    // @include flexbox()
    // @include justify-content(center)
    // @include align-items(center)
    .card
        width: 100%
        border-radius: 5px
        background-color: $white
        .content
            @include flexbox()
            @include justify-content(space-between)
            @include align-items(center)
            @include flex-wrap(wrap)
            width: 100%
            height: 100%
            .form-pay
                @include flex(1 1 50%)
                width: 100%
                height: 100%
                padding: 70px
                &.two-card
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                    @include flex-basis(50%)
                    @include flex-wrap(wrap)
                    @include flex-direction(column)
                    padding: 0px
                        left: 70px
                        right: 70px
                    .card
                        width: 100%
                        height: 100%    
                        padding: 30px
                    .options
                        width: 100%
                        @include flexbox()
                        @include justify-content(space-between)
                        @include align-items(center)
                        @include flex-wrap(wrap)
                        margin: 
                            bottom: 20px
                        .title-2
                            font:
                                family: $montserrat
                                size: calculateRem(13px)
                                weight: bold
                                style: normal
                                stretch: normal
                            line-height: normal
                            text-decoration: underline
                            letter-spacing: normal
                            text-align: right
                            color: $black
                .tr-form
                    .input-group
                        @include flexbox()
                        @include justify-content(space-between)
                        @include align-items(center)
                        @include flex-basis(50%)
                        @include flex-wrap(wrap)
                        .label-animate
                            @include flex(1 1 50%)
                            display: flex
                    input
                        height: 60px
            .card-sample
                @include flex(1 1 50%)
                width: 100%
                height: 100%
                padding: 70px
                text-align: right
                margin-bottom: 88px
                .title-2
                    font:
                        family: $montserrat
                        size: calculateRem(13px)
                        weight: bold
                        style: normal
                        stretch: normal
                    line-height: normal
                    text-decoration: underline
                    letter-spacing: normal
                    text-align: right
                    color: $black
                .card
                    margin-right: 0px
                    margin-top: 15px
                    width: 100%
                    height: 95%
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(center)
                .credit-card
                    width: 90%
                    height: 215px
                    border-radius: 10px
                    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.07), inset 0 1px 0 0 rgba(255, 255, 255, 0.5)
                    background-color: #333834
                    position: relative
                    @include flexbox()
                    @include justify-content(center)
                    @include align-items(flex-start)
                    @include flex-direction(column)
                    padding-left: 30px
                    text-align: left
                    &:before
                        position: absolute
                        content: ''
                        display: block
                        background: 
                            image: url('../images/icons/card-oval.svg')
                            size: cover
                            position: center center
                            repeat: no-repeat
                        width: 100%
                        top: 0 
                        right: 0
                        height: 100%
                    .logocard
                        position: absolute
                        display: block
                        width: 68px
                        top: 10px
                        right: 10px
                        height: 30px
                        background-repeat: no-repeat
                        background-position: center
                        background-size: contain
                    span
                        opacity: 0.5
                        font:
                            family: $montserrat
                            size: calculateRem(11px)
                            weight: 300
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                        color: $white            
                    p
                        font:
                            family: $montserrat
                            size: calcualteRem(12px)
                            weight: normal
                            style: normal
                            stretch: normal
                        line-height: normal
                        letter-spacing: normal
                        padding: 0
                        margin: 0
                        color: $white         
                #card-numer p
                    font-size: calculateRem(22px)
                #name p
                    font-size: calculateRem(14px)
                #validation p,#ccv p
                    font-size: calculateRem(12px)
                .group
                    @include flexbox()
                    @include justify-content(space-between)
                    @include align-items(center)
                    width: 60%

.button-buy-checkout
    @include flexbox()
    @include justify-content(flex-end)
    @include align-items(center)
    @include flex-wrap(wrap)
    .tr-secondary
        font-size: calculateRem(16px)