.tr-header-nav-checkout
    width: 100%
    height: 100%
    @include transition(all .3s ease-in-out)
    @include flexbox()
    @include justify-content(space-around)
    @include align-items(center)
    @include flex-wrap(wrap)
    @include flex-basis(10%)
    .logo-full
        @include flex(1 1 7%)
        height: 100%
        width: auto
        cursor: pointer
        img
            width: 100px
            height: 100%
    .description-2
        @include flex(1 1 40%)
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        &.end
            @include justify-content(flex-end)
        p
            text-align: left
            margin: 0
            margin-bottom: 0px!important