.tr-method-pay
    @include flexbox()
    @include justify-content(center)
    @include align-items(center)
    width: 100%
    height: 100%
    .content
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        width: 85%
        height: 100%
        .row
            width: 100%
        .card-payment
            width: 95%
            height: 90px
            border-radius: 5px
            background-color: $white
            border: 1px solid rgba($black, .1)
            @include flexbox()
            @include justify-content(center)
            @include align-items(center)
            @include flex-wrap(wrap)
            text-decoration: none
            @include box-shadow(0px 0px 0px 0px)
            @include transition(all .3s ease-in-out)
            padding: 30px
            &.active
                @include box-shadow(0px 0px 0px 4px $light_purple)
            p
                margin: 0
                padding: 0
                font:
                    family: $montserrat
                    size: calculateRem(16px)
                    weight: bold
                    style: normal
                font-stretch: normal
                line-height: 1.67
                letter-spacing: normal
                text-align: center
                color: #1f1f1f
            span
                display: block
                background: 
                    repeat: no-repeat
                    size: contain
                    position: center center
                width: 40px
                height: 30px
                margin-right: 10px
                &.card_pay
                    background-image: url('../images/icons/card_pay.png')
                &.ticket_pay
                    background-image: url('../images/icons/ticket_pay.png')
                &.pal_pay
                    background-image: url('../images/icons/pal_pay.png')

// countDown-checkout

.countDown-checkout
    position: fixed
    z-index: 999
    top: 115px!important
    width: 80px
    height: 100px
    border-radius: 5px
    background-color: $light_purple
    // top: -20px
    right: 11%!important
    .content
        @include flexbox()
        @include justify-content(center)
        @include align-items(center)
        @include flex-direction(column)
        width: 100%
        height: 100%
        .hours
            display: block
            background: 
                repeat: no-repeat
                size: contain
                position: center center
                image: url('../images/icons/current-hours.png')
            width: 40px
            height: 50px
        .current-time
            margin-bottom: 0px
            font:
                size: calculateRem(16px)
                weight: bold
                style: normal
                stretch: normal
            line-height: 1.67
            letter-spacing: normal
            text-align: center
            color: $white
