// calcula px para vw e vh
@function vw($target) { 
  $vw-context: (1000*.01) * 1px;
  @return  ($target/$vw-context) * 1vw;
}

@function vh($target) { 
  $vh-context: (1000*.01) * 1px;
  @return ($target/$vh-context) * 1vh;
}
@mixin get-vh($vh) {
    height: vh($vh);
    max-height: $vh;
}
@mixin get-vw($vw) {
    height: vw($vw);
    max-height: $vw;
}