//----  Font Import  ----
    $catamaran: 'Catamaran', sans-serif;
    $montserrat: 'Montserrat', sans-serif;
    $titillium: 'Titillium Web', sans-serif;
    $font : 16px;

    $boxcard:  0px 0px 0px 1px #E3EDEF;
    $color_box: #E3EDEF;

    //----  Font Size  ----
        $one: 50px;
        $two: 30px;
        $three: 25px;
        $four: 20px;
        $five: 18px;
        $six: 16px;
        $seven: 14px;
        $eight: 12px;
        $nine: 10px;
        $ten: 8px;

//----  Colors Default  ----
    //----  Default  ----
        $white: #ffffff;
        $black: #1f1f1f;
        $darker_gray: rgba(#1f1f1f, .4);

    //----  Light  ----
        $light_purple: #5433f1;
        $light_green: #34b16f;
        $light_red: #f13333;
        $light_yellow: #ffb100;
        $light_gray: rgba( $white, .2);


    //----  Color Menu  ----
        $bg_menu: #131313;
        $menu: #6c6c6c;
        $menu_active: $white;

    //----  Cards  ----
        $footer_gray: #afafaf;
        $price_sale: rgba($black, .6);
        $price: $black;
        $border: #efefef;
        $product: #7d7474;

    //----  Text Color  ----
        $title_1: $white;
        $title_2: $black;
        $title_3: #afafaf;
        $title_4: #6c6c6c;
        $title_5: #DCDCDC;

    //----  Number Color  ----
        $number_1: $light_purple;



//---- Card Configuration Default
    $max_width_card: 310px;
    $max_height_card: 520px;